#logo-container {
	> img {
		vertical-align: top;
	}
}

#top-head {
	position: relative;
	float: left;
	width: 100%;
	z-index: 2;
	form {
		font-size: 0.75em;
	}
}

#search-container {
	margin-top: 15px;
	display: none;
	float: right;
	width: 470px;
	&.initialized {
		display: block;
	}
}

#search-query {
	vertical-align: top;
	padding: 0 0 0 4px;
	width: 234px;
	height: 30px;
	border: none;
	border-top-color: #bbb;
	border-width: 1px;
	border-bottom-color: #e6e6e6;
	border-left-color: #e6e6e6;
	border-right-color: #e6e6e6;
	border-style: solid;
	border-radius: 2px;
	margin-right: 0;
}