*.xml
.idea/*
SQ/singlequeue/pages/index.html

/SQ/Static/Scripts/*.min.js

/SQ/Static/CSS/*.css
/SQ/Static/CSS/*.map

/SQ/Static/Scripts/RequestQueues/*.min.js
!/SQ/Static/Scripts/RequestQueues/bootstrap-3.3.4.min.js