[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group UI
	owner = group user/Edward Chong (edooward)
[access "refs/for/refs/*"]
	read = group UI
	read = group user/Edward Chong (edooward)
	push = group UI
	push = group user/Edward Chong (edooward)
	label-Code-Review = -2..+2 group UI
	label-Code-Review = -2..+2 group user/Edward Chong (edooward)
	rebase = group UI
	rebase = group user/Edward Chong (edooward)
	removeReviewer = group UI
	removeReviewer = group user/Edward Chong (edooward)
	submit = group UI
	submit = group user/Edward Chong (edooward)
[access "refs/heads/*"]
	read = group UI
	read = group user/Edward Chong (edooward)
	create = group UI
	create = group user/Edward Chong (edooward)
	push = group UI
	push = +force group user/Edward Chong (edooward)
	pushMerge = group UI
	pushMerge = group user/Edward Chong (edooward)
[access "refs/tags/*"]
	push = group UI
	push = +force group user/Edward Chong (edooward)
	pushTag = group UI
	pushTag = group user/Edward Chong (edooward)
	pushSignedTag = group UI
	pushSignedTag = group user/Edward Chong (edooward)
[access "refs/for/review/*"]
	owner = group UI
	read = group UI
	push = group UI
	label-Code-Review = -2..+2 group UI
	rebase = group UI
	removeReviewer = group UI
	submit = group UI
