/*Styles imported from  web-queue.css */
.wrapper {
  width: 1540px;
  margin: 0 auto;
  height: auto; }

#body-content {
  height: 100%; }

/*pop-up content style start*/
.new-request-wrapper {
  width: 778px;
  padding: 10px;
  display: inline-block; }

.search-request-type-wrapper {
  width: 1100px;
  padding: 10px; }

.new-request-wrapper h1, .search-request-type-wrapper h1 {
  font-size: 18px;
  line-height: 24px;
  padding: 0 0 10px;
  color: #333;
  width: 640px; }

.new-request-wrapper h1 span {
  font-size: 13px;
  font-weight: normal; }

.request-type-wrapper {
  float: left;
  display: inline;
  margin-right: 26px; }

.request-type-table-wrapper {
  float: left;
  display: inline;
  margin-right: 2px; }

.request-type-wrapper h3, .request-type-table-wrapper h3 {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-size: 13px;
  font-weight: bold; }

.request-type-wrapper > ul, .request-type-table-wrapper > ul {
  padding-top: 5px;
  margin-bottom: 15px; }

.request-type-wrapper > ul li a {
  padding: 2px 13px 5px 5px;
  display: block; }

.request-type-table-wrapper > ul li a {
  padding: 1px 4px 1px 3px;
  display: block;
  font-size: 12px; }

.popup-two-cols {
  width: 337px;
  float: left; }

.popup-two-cols .request-type-wrapper {
  width: 130px; }

.popup-four-cols {
  width: 748px;
  float: left; }

.popup-col {
  width: 220px;
  float: left; }

.new-request-wrapper div:last-child .request-type-wrapper {
  margin-right: 0; }

#short-list {
  width: 199px; }

#long-list {
  width: 208px; }

.search-request-type-wrapper td {
  vertical-align: top; }

/***************** Bottom Section Tables *********************/
.data-heading {
  width: 1540px;
  margin: 20px auto;
  clear: both; }

.data-heading h3 {
  color: #444;
  font-size: 18px;
  font-weight: bold; }

.results-data {
  width: 1540px;
  height: auto;
  margin: 0 auto;
  font-size: 12px;
  color: #333;
  z-index: 0;
  position: relative; }

.data-footer {
  width: 1540px;
  margin: 20px auto; }

table {
  width: 100%;
  border-spacing: 0;
  box-sizing: border-box;
  overflow: hidden; }

.results-data thead {
  background: transparent; }

/*thead tr {
  border: 1px solid #eaeaea;
  -moz-border-radius: 6px;
  border-radius: 6px;
}*/
.results-data thead th {
  background: #e7e7e7;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e7e7e7 0%, whitesmoke 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e7e7), color-stop(100%, whitesmoke));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e7e7e7 0%, whitesmoke 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e7e7e7 0%, whitesmoke 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e7e7e7 0%, whitesmoke 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e7e7e7 0%, whitesmoke 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#f5f5f5', GradientType=0);
  /* IE6-8 */
  color: #444;
  font-weight: bold; }

th, td {
  padding: 10px;
  text-align: left;
  font-size: 12px;
  color: #333;
  vertical-align: middle; }

th[data-title="Request Type"],
th[data-title="Parent Campaign"],
th[data-title="Project"] {
  width: 150px; }

th[data-title="Request Title"] {
  width: 160px !important;
  max-width: 160px !important; }

.results-data th a,
.results-data th a:hover,
.results-data th a:visited {
  color: #444 !important;
  font-weight: bold !important;
  font-size: 13px !important;
  text-decoration: none; }

tbody tr:nth-child(even) {
  background: #eee; }

table thead tr th:first-child {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius-left-radius: 10px;
  border-top-left-radius: 10px; }

table thead tr th:last-child {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }

.results-data .new {
  display: inline-block;
  padding: 2px 5px;
  font-size: 10px;
  color: #fff;
  background-color: #ee6411;
  margin-left: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  vertical-align: top; }

.results-data .future-sprint {
  color: #ce1126; }

tbody td a {
  display: inline-block;
  max-width: 160px;
  line-height: 15px;
  word-wrap: break-word; }

td:nth-child(3) a {
  max-width: 112px; }

/* tooltip styles */
.tooltip {
  display: inline;
  position: relative; }

.tooltip:hover:after {
  background: #fff;
  /* background: rgba(256,256,256,.8); */
  border-radius: 5px;
  bottom: 26px;
  color: #444;
  content: attr(data-tooltip);
  left: 20%;
  padding: 10px;
  position: absolute;
  z-index: 9998;
  width: 180px;
  border: 1px #ccc solid;
  box-shadow: 1px 1px 5px #ccc; }

.tooltip:hover:before {
  /* arrow at the bottom */
  border: solid;
  border-color: #aaa transparent;
  border-width: 8px 8px 0px 8px;
  bottom: 19px;
  content: "";
  left: 80%;
  position: absolute;
  z-index: 9999; }

/* special positioning for first alert */
tbody tr:first-child .tooltip:hover:after {
  top: -50px;
  padding: 5px; }

/* pagination styles */
.data-heading h3,
.data-heading > div {
  display: inline-block; }

.pagination.pagination-centered {
  margin: auto;
  text-align: center; }

.paging {
  float: right; }

.pagination ul {
  display: inline-block; }

.pagination ul li {
  list-style-type: none;
  float: left; }

/* exported from collective.min.css .pagination */
.pagination {
  height: 42px;
  margin: 18px 0; }

.pagination > div {
  display: inline-block;
  background: url("../Content/Img/shared/vertical-pipe.png") 100% 0 repeat-y;
  padding: 12px 20px 0;
  margin: 2px 0;
  vertical-align: top;
  height: 26px;
  line-height: 13px; }

.pagination > div:last-child {
  background: 0; }

.pagination ul {
  overflow: hidden;
  margin: -1px 0 0 0 !important;
  display: inline-block; }

.pagination li {
  list-style: none outside none !important;
  float: left;
  margin-right: 4px;
  min-width: 17px;
  height: 16px;
  text-align: center;
  padding: 0 3px 0 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.pagination a, .pagination strong {
  display: block;
  font-size: 14px !important;
  line-height: 16px; }

.pagination a:visited {
  color: #39c; }

.pagination li:last-child {
  margin-right: 0; }

.pagination li.active {
  background-color: #999; }

.pagination li.active a, .pagination li.active strong {
  color: #fff; }

.pagination .prev, .pagination .next {
  width: 9px;
  height: 14px;
  display: inline-block;
  background: url("//software.dell.com/images/shared/sprites.png") 0 0 no-repeat;
  vertical-align: top;
  margin-top: 1px; }

.pagination .prev {
  background-position: -25px -23px; }

.pagination .prev:hover {
  background-position: -5px -23px; }

.pagination .inactive a.prev {
  background-position: -45px -23px; }

.pagination .next {
  background-position: -85px -23px; }

.pagination .next:hover {
  background-position: -105px -23px; }

.pagination .inactive a.next {
  background-position: -65px -23px; }

.pagination .sortby {
  margin-top: -5px; }

/* links */
#dynamic-table a.no-visited:visited, #dynamic-table a:visited, #dynamic-table a:link {
  color: #39c; }

#dynamic-table a:focus {
  outline: 0; }

#dynamic-table a:hover {
  text-decoration: underline;
  color: #39c; }

.wide-blue-button a,
.button-wrapper a {
  color: #fff !important; }

.outside-sprint {
  background: url(../Content/Img/icon-warning.png) no-repeat right center;
  padding-right: 20px; }

.req-past-due {
  background: url(../Content/Img/icon-warning-red.png) no-repeat right center;
  padding-right: 20px; }

.req-past-due-outside-sprint {
  background: url(../Content/Img/icon-warning-red-yellow.png) no-repeat right center;
  padding-right: 20px; }

/*created by: Jorge Leon 1/27/2015 end*/
.activate-bg {
  background-color: #eee;
  border-radius: 3px;
  padding-bottom: 7px !important;
  height: auto !important; }

.active-filters span {
  padding-bottom: 11px; }

#campaign-form-wrapper td, #project-form-wrapper td {
  background-color: #FFFFFF !important;
  padding: 12px 2px 0px 2px; }

#EditProjectTable td {
  background-color: #FFFFFF; }

#EditProjectTable td.FormRowTitle {
  font-weight: bold; }

#project-form-wrapper {
  margin: 0;
  padding: 0; }

.field-validation-error {
  color: red; }

#project-campaign-search img {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  border: none; }

.request-info, .request-info:visited, .request-info:active, .request-info:hover {
  color: #FFFFFF !important;
  background-color: #4a4b4d;
  text-align: center;
  display: inline-block;
  width: 16px;
  text-decoration: none; }

.request-info-popup, .fc-request-info-popup, .fc-project-info-popup {
  display: none; }

.request-info-popup table {
  width: 500px; }

.request-info-popup table td {
  background-color: #FFFFFF;
  font-size: 13px;
  line-height: 13px;
  padding: 3px; }

.request-info-popup table td b {
  font-weight: bold; }

.fc-request-info-popup table td, .fc-project-info-popup table td {
  background-color: #FFFFFF;
  font-size: 13px;
  line-height: 13px;
  padding: 2px; }

.fc-more-popover .fc-event-container {
  padding: 1px !important; }

#page-header {
  margin-top: 6px;
  float: left;
  display: inline-block; }

#TopPager .k-current-page, #BottomPager .k-current-page {
  display: none !important; }

/* Views */
#views-selector {
  margin-left: 30px;
  float: left;
  display: inline-block;
  height: 31px;
  width: 600px; }

#views-selector ul {
  position: relative; }

#views-selector ul li {
  display: inline-block;
  position: relative;
  cursor: pointer; }

#views-selector ul li ul {
  position: absolute;
  top: 31px;
  right: 0px;
  z-index: 999;
  border: 1px solid #7f9db9;
  width: 110px;
  display: none; }

#views-selector ul li ul li {
  display: block;
  background-color: #eeeeee;
  font-size: 13px;
  border-collapse: collapse;
  padding: 2px;
  cursor: default; }

#views-selector ul li ul li:hover {
  background-color: #1e90ff;
  color: #FFFFFF; }

#views-selector #views-list {
  background: url(../Content/Img/request-queue-views-01.png) 0px 0px no-repeat;
  width: 65px;
  height: 31px; }

#views-selector #views-list:hover {
  background-position: 0px -31px; }

#views-selector #views-list.active {
  background-position: 0px -62px; }

#views-selector #views-list-edit {
  background: url(../Content/Img/request-queue-views-01-edit.png) 0px 0px no-repeat;
  width: 78px;
  height: 31px; }

#views-selector #views-list-edit:hover {
  background-position: 0px -31px; }

#views-selector #views-list-edit.active {
  background-position: 0px -62px; }

#views-selector #views-calendar {
  background: url(../Content/Img/request-queue-views-02.jpg) 0px 0px no-repeat;
  width: 97px;
  height: 31px; }

#views-selector #views-calendar:hover {
  background-position: 0px -31px; }

#views-selector #views-calendar.active {
  background-position: 0px -62px; }

#views-selector #views-charts {
  background: url(../Content/Img/request-queue-views-03.jpg) 0px 0px no-repeat;
  width: 79px;
  height: 31px; }

#views-selector #views-charts:hover {
  background-position: 0px -31px; }

#views-selector #views-charts.active {
  background-position: 0px -62px; }

/* Calendar view */
#results-data-calendar .fc-day-grid-event .fc-content {
  white-space: normal !important;
  overflow: hidden !important; }

#results-data-calendar table td, #results-data-calendar table tr {
  background-color: transparent !important; }

#results-data-calendar .fc-event-container a, #results-data-calendar .fc-event-container a:hover, #results-data-calendar .fc-event-container a:visited {
  font-size: 10px !important;
  color: #FFFFFF !important;
  max-width: none !important; }

#results-data-calendar h2 {
  font-size: 16px;
  font-weight: bold; }

#results-data-calendar .fc-day-number {
  font-size: 14px;
  font-weight: bold; }

#results-data-calendar .fc-day-grid-event .fc-content {
  color: #000000;
  background-color: #ebebeb !important;
  border: 1px solid #ebebeb !important;
  width: 95%; }

#results-data-calendar .fc-day-grid-event .fc-content.calendar-release {
  background-color: #C1D82F !important;
  border: 1px solid #C1D82F !important; }

#results-data-calendar .fc-request-title, #results-data-calendar .fc-project-title {
  font-size: 12px;
  font-weight: bold; }

#results-data-calendar .fc-request-owner {
  font-size: 12px; }

#results-data-calendar .fc-event {
  background-color: #ebebeb !important;
  border: 1px solid #ebebeb !important; }

#results-data-calendar .fc-event.calendar-release {
  background-color: #C1D82F !important;
  border: 1px solid #C1D82F !important;
  cursor: pointer; }

#results-data-fullcalendar-filter .k-button.calendar-release {
  background-color: #C1D82F !important; }

#results-data-calendar .fc-day-header {
  padding: 3px 0px 3px 0px !important; }

#results-data-calendar .fc-more, #results-data-calendar .fc-more:visited {
  font-size: 12px !important;
  color: #007cb5 !important; }

#results-data-calendar .fc-widget-content .fc-event-container {
  max-height: 600px !important;
  overflow-y: auto !important; }

#results-data-calendar a.fc-edit-project, #results-data-calendar a.fc-edit-project:hover, #results-data-calendar a.fc-edit-project:visited {
  font-size: 12px;
  font-weight: bold;
  color: #000000 !important;
  text-decoration: none; }

#results-data-calendaritems {
  width: 50%;
  margin: 20px 0px 20px 0px; }

#results-data-calendaritems-manage {
  margin: 20px 0px 20px 0px; }

.results-data-chart-wrapper {
  display: inline-block;
  margin-right: 100px;
  width: 600px;
  height: 500px; }

.results-data-chart-wrapper .k-chart {
  width: 600px;
  height: 500px; }

.custom-date-required {
  display: none;
  color: red; }

.custom-date-required td {
  color: red; }

#results-data-fullcalendar-filter {
  margin: 10px 0px 10px 0px; }

.vert-align-top {
  vertical-align: top; }

#results-data-fullcalendar-filter label {
  width: 149px;
  text-align: right;
  margin: 0;
  padding: 4px 10px 0 0; }

/* Kendo fixes */
#GridRequest, #GridProject, #GridRequestEdit, #GridProjectEdit, #TopPager, #BottomPager, #GridRequestEdit .k-grid-toolbar, #GridProjectEdit .k-grid-toolbar {
  border: none !important;
  background-color: transparent !important;
  background-image: none !important; }

#fancybox-wrap, #fancybox-wrap div {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important; }

.k-ct-cell.k-state-selected.k-state-disabled {
  background-color: #1e90ff; }

#results-data-calendar .arrow {
  background: url("../Content/Img/select-arrow-sprite.png") no-repeat 0 0;
  display: inline-block;
  position: absolute; }

#results-data-calendar .chrome {
  background-position: 0 -41px;
  top: 13px;
  right: 7px;
  width: 6px;
  height: 6px; }

#results-data-calendar .safari {
  background-position: -8px -41px;
  top: 17px;
  right: 5px;
  width: 9px;
  height: 5px; }

#results-data-calendar .firefox {
  background-position: 0 0;
  top: 1px;
  right: 1px;
  width: 17px;
  height: 32px; }

#results-data-calendar .ie9 {
  background-position: 0 -49px;
  top: 9px;
  right: 6px;
  width: 17px;
  height: 20px; }

#results-data-calendar .ie11 {
  background-position: 0 -71px;
  top: 8px;
  right: 6px;
  width: 19px;
  height: 20px; }

.results-data span.k-link {
  font-weight: bold; }

/********************************************************* New Styles and overrides ******************************************************/
/* General Styles Views and Forms */
/*.rq-top-ribbon,
.results-data,
.filters-on {
  width: 765px;
}*/
.filters-on p {
  margin-bottom: 10px; }

.filters-on span {
  font-weight: bold; }

.filters-on div:last-child {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px; }

.results-data {
  margin-left: 0 !important;
  margin-bottom: 40px; }

.rq-top-ribbon > ul > li:first-child {
  box-sizing: border-box; }

#rq-ribbon-search-item {
  box-sizing: border-box; }

.rq-ribbon-search-text {
  width: 310px !important;
  position: relative;
  z-index: 0;
  padding-right: 21px; }

#rq-ribbon-search-btn {
  top: -18px;
  right: -32px; }

.heading-queue h2 {
  width: 765px;
  border-top: 1px solid #ccc;
  padding: 20px 0;
  font-size: 28px;
  line-height: 32px;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }

.results-data.narrow .k-header .k-link {
  font-weight: bold; }

/* helper classes */
.no-border {
  border: 0 !important; }

.bold {
  font-weight: bold; }

.inline-block {
  display: inline-block; }

.align-top {
  vertical-align: top; }

.radio-text {
  display: inline-block;
  padding: 0 20px 0 5px;
  vertical-align: bottom; }

.gray-bar {
  box-sizing: border-box;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 30px; }

.gray-bg {
  background-color: #f9f9f9; }

.ribbon-lrg-btn {
  width: 220px !important; }

.txt-sm-blk {
  color: #000;
  font-size: 14px;
  line-height: 18px; }

.mb-25 {
  margin-bottom: 25px; }

.rq-top-ribbon.auto-width > ul > li:first-child {
  text-align: center; }

.auto-width .wide-blue-button a span {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.auto-width .wide-blue-button {
  display: inline-block; }

.auto-width .wide-blue-button a {
  display: inline-block;
  padding: 0 15px; }

/* ---------------------- Forms ---------------------- */
/* general for all forms  */
.single-queue form select {
  width: 195px;
  vertical-align: middle; }

.single-queue form select.numeric {
  width: 66px;
  vertical-align: middle; }

.single-queue form textarea {
  width: 540px; }

.single-queue form .disabled {
  color: #444; }

.single-queue .inline-block button {
  margin-left: 10px; }

.single-queue .inline-block button:first-child {
  margin-left: 0; }

/* specific form styles */
.activity-type,
.sprint-metadata-form,
.dynamic-field {
  width: 762px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box; }

.form-860 {
  width: 860px;
  margin-left: 0; }

.open-form .form-group > label,
.dynamic-field .form-group > label,
.sprint-metadata-form .form-group > label {
  display: inline-block;
  width: 174px; }

.form-860 .form-group > label {
  width: 210px; }

.open-form .form-group > span
.dynamic-field .form-group > span
.sprint-metadata-form .form-group > span,
.open-form .form-group > div,
.dynamic-field .form-group > div,
.sprint-metadata-form .form-group > div {
  display: inline-block; }

.request-type .adjacent {
  margin-left: 0 !important; }

.request-type .adjacent label {
  padding-right: 15px !important; }

.open-form {
  border: none; }

.open-form .results-data {
  margin-bottom: 20px; }

.open-form .has-hidden-field a {
  margin-left: 10px;
  margin-bottom: 20px; }

.open-form input[type=text], .open-form select {
  width: 458px !important; }

.open-form .form-group > label {
  text-align: right;
  padding-right: 30px; }

.open-form .form-inline input[type=text] {
  width: 205px !important; }

.open-form .form-inline select {
  width: 245px !important; }

.form-inline .form-group {
  margin-bottom: 15px; }

.form-inline .adjacent label {
  width: 136px; }

.form-group.adjacent {
  margin-left: 116px; }

.dynamic-field #yesOption {
  margin-left: 0;
  position: relative; }

/* overrides dell-bootstrap */
.table-wrapper {
  border: 1px solid #ccc;
  padding-top: 0 !important;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

/* complex-table table styles */
.complex-table td[role="gridcell"] select {
  width: 163px !important;
  height: 24px;
  margin: 5px 0; }

.complex-table td a {
  display: inline-block; }

.complex-table td p,
.complex-table td a {
  line-height: 26px;
  margin: 5px 0; }

.complex-table .k-header .k-link {
  font-weight: bold; }

.complex-table .gridcell {
  vertical-align: top; }

.complex-table .k-header.th-one {
  width: 135px; }

.complex-table .k-header.th-two {
  width: 236px; }

.complex-table .k-header.th-three {
  width: 182px; }

.complex-table tbody td:first-child {
  vertical-align: top; }

.multi-row .form-inline .form-group {
  margin-left: 15px; }

.multi-row .row select {
  width: 104px !important; }

.multi-row .row label {
  width: 138px !important;
  box-sizing: border-box;
  padding-right: 15px; }

.multi-row .last-group label {
  width: 170px !important; }

.multi-row-label {
  vertical-align: top;
  padding-top: 20px; }

.table-two-column td a {
  line-height: 0; }

.table-two-column tr td:first-child {
  width: 75%; }

.table-footer .row {
  margin-left: 15px;
  margin-right: 0; }

.table-footer .row > div,
.table-footer .row > button,
.table-footer .row > a {
  display: inline-block; }

.table-footer input[type=text] {
  width: 246px !important; }

.table-footer .row button[type="submit"] {
  margin-left: 15px;
  margin-right: 5px; }

.table-footer .form-group {
  margin-left: 10px;
  margin-right: 0; }

.table-footer .row > a {
  margin-left: 0;
  margin-right: 10px; }

/* complex form with large section within */
.form-lg-section {
  padding-top: 30px;
  margin-bottom: 35px; }

.form-group .comments-list {
  width: 643px; }

.comments-list span {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 12px; }

.comments-list p {
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
  margin-bottom: 20px; }

/* auto assign rules table required special style unique to table*/
#autoRules td {
  padding: 2px 0 !important; }

#autoRules td:first-child {
  padding-left: 5px !important; }

#autoRules .td-70 {
  width: 70px !important; }

#autoRules .td-100 {
  width: 100px !important; }

#autoRules .td-110 {
  width: 110px !important; }

#autoRules td a {
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box; }

.GridRequest {
  border: none !important;
  background-color: transparent !important;
  background-image: none !important; }

.multi-row.narrow label {
  text-align: left !important;
  width: 65px !important; }

.multi-row.narrow .last-group label {
  margin-left: 25px;
  width: 80px !important; }

.multi-row.narrow .last-group select {
  width: 136px !important; }

/* id changes to class requested by IS - overrides webqueue.css */
.sub-nav .filter-title {
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%; }

.rq-filters {
  width: 37px;
  padding-bottom: 0;
  height: 33px; }

.rq-filters-item ul > li {
  padding: 0; }

.rq-filters {
  padding: 7px 10px; }

.rq-filters {
  width: 37px;
  padding-bottom: 0;
  height: 33px; }

.rq-top-ribbon > ul > li .sub-nav-wrapper {
  top: 54px; }

.request-listing .id-col {
  width: 30px; }
.request-listing .title-col {
  width: 110px; }
.request-listing .type-col {
  width: 80px; }
.request-listing .project-col {
  width: 120px; }
.request-listing .agileTeam-col {
  width: 70px; }
.request-listing .status-col {
  width: 64px; }
.request-listing .requestStartDate-col {
  width: 64px; }
.request-listing .requestEndDate-col {
  width: 100px; }
.request-listing .requester-col {
  width: 76px; }
.request-listing .portfolio-col {
  width: 65px; }
.request-listing .sprint-col {
  width: 54px; }
.request-listing .priority-col {
  width: 54px; }
.request-listing .group-col {
  width: 46px; }
.request-listing .active-col {
  width: 22px; }
.request-listing .complete-col {
  width: 22px; }
.request-listing .startDate-col {
  width: 80px; }
.request-listing .endDate-col {
  width: 112px; }
.request-listing .k-grid td {
  border-left: 1px solid #ddd; }
.request-listing .cgs-start {
  /* cgs stands for "Current Group Summary" */
  border-left: 1px solid #444 !important; }
.request-listing td a, .request-listing td a:visited, .request-listing td a:link {
  color: #74c1dd; }

#results-data-list {
  /* warning labels */ }
  #results-data-list th.cgs-th a {
    color: #933e9c !important;
    font-weight: bold !important; }
  #results-data-list td span {
    display: inline-block;
    padding: 0 4px !important;
    margin-left: 5px;
    color: #fff;
    font-size: 10px;
    border-radius: 3px; }
  #results-data-list span.urgent {
    background-color: #cc4321; }
  #results-data-list span.new {
    background-color: #6da209; }
  #results-data-list span.legacy {
    background-color: #444; }
  #results-data-list span.past-due {
    background: url(http://o2.prod.quest.corp/mk/Static/Content/Img/icon-warning-red.png) no-repeat right center;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-left: 0; }

.table-headings > li {
  display: inline-block;
  line-height: 24px;
  padding-left: 10px; }
.table-headings > li:last-child {
  float: right;
  margin-right: 190px;
  color: #933e9c;
  font-weight: bold; }

.grid-wrapper {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  float: left; }

/*top header start*/
#top-head {
  position: relative;
  float: left;
  width: 100%; }
  #top-head #search-container {
    margin-top: 15px; }
    #top-head #search-container #search-query-container {
      display: block;
      float: right; }
      #top-head #search-container #search-query-container #search-query {
        width: 234px;
        height: 30px;
        border: none;
        border-top-color: #bbb;
        border-width: 1px;
        border-bottom-color: #e6e6e6;
        border-left-color: #e6e6e6;
        border-right-color: #e6e6e6;
        border-style: solid;
        border-radius: 2px; }
      #top-head #search-container #search-query-container > input {
        padding-left: 4px; }
      #top-head #search-container #search-query-container #top-search-btn {
        background-position: 0 -127px;
        cursor: pointer;
        clear: both;
        position: relative;
        width: 13px;
        height: 13px;
        float: right;
        top: 10px;
        right: 19px; }

/*top header end*/
/*tabs start*/
#tabs {
  padding-top: 0;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 13px;
  height: 48px;
  margin-bottom: 4px;
  display: none; }
  #tabs > ul {
    top: 0;
    background-image: none;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 0;
    position: relative;
    float: left;
    margin-bottom: 0; }
    #tabs > ul > li {
      border-top: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;
      border-left: none;
      border-bottom: none;
      border-radius: 0;
      margin: 0;
      /*background: url("images/tab-bg.png") repeat-x 0 0;*/
      height: 46px;
      background: #ffffff;
      /* Old browsers */
      background: #ffffff;
      /* Old browsers */
      background: #ffffff;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, white 1%, #eeeeee 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, white), color-stop(100%, #eeeeee));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 1%, #eeeeee 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 1%, #eeeeee 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 1%, #eeeeee 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, white 1%, #eeeeee 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
      /* IE6-8 */ }
      #tabs > ul > li > a {
        display: block;
        padding: 17px 25px; }
      #tabs > ul > li.ui-tabs-active {
        border: none;
        border-right: 1px solid #e4e4e4;
        border-top: 1px solid #e4e4e4;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        background-color: #fff; }
        #tabs > ul > li.ui-tabs-active a {
          border-top: 4px solid #0085c3;
          padding: 13px 25px 19px 25px !important; }
      #tabs > ul > li > a:hover {
        text-decoration: none; }

.ui-widget-header {
  border-left: 1px solid #e4e4e4; }

.ui-tabs {
  padding: 0; }

/*tabs end*/
/*nav start*/
.nav {
  position: relative;
  width: 100%;
  background: none;
  margin-bottom: 4px;
  float: left;
  overflow: visible; }
  .nav a {
    color: #666; }
    .nav a:hover, .nav a.active {
      color: #3399CC;
      text-decoration: none; }
  .nav li {
    margin-left: 32px;
    padding: 7px; }
    .nav li:first-child {
      margin-left: 12px; }
  .nav #question-mark-icon {
    background: url("http://stage-o2/mk/Static/Content/Img/request-queue-sprite.png") no-repeat 0 -1px;
    width: 10px;
    height: 14px;
    display: inline-block;
    margin-right: 4px; }
  .nav ul .right {
    float: right; }
  .nav ul .right:hover #question-mark-icon {
    background-position: 0 -18px; }
  .nav ul li .sub-nav-col {
    display: none; }
  .nav ul li ul li {
    display: block;
    margin: 0;
    clear: both;
    padding: 5px 0; }
    .nav ul li ul li:last-child {
      padding-bottom: 0; }
    .nav ul li ul li:first-child {
      margin: 0; }
  .nav ul > li:hover .sub-nav-col li a {
    display: block; }
  .nav ul > li:hover .sub-nav-col-wrapper {
    width: 190px;
    height: 0;
    margin-left: -8px;
    position: absolute;
    overflow: hidden;
    min-width: 134px;
    min-height: 273px; }
  .nav ul > li:nth-child(4):hover .sub-nav-col-wrapper {
    min-width: 247px;
    min-height: 346px; }

.sub-nav #filter-title > a {
  color: #3399CC;
  text-decoration: none; }
.sub-nav #search {
  margin-right: 7px; }
.sub-nav #filter-title {
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%; }
  .sub-nav #filter-title > span {
    float: left;
    font-weight: bold; }
  .sub-nav #filter-title > a {
    float: right;
    text-decoration: none; }
.sub-nav > div {
  display: block;
  float: left; }
.sub-nav .rq-btn-icon {
  cursor: pointer;
  clear: both;
  float: right;
  position: relative;
  z-index: 99999;
  /*fix for ie9*/ }

.nav-active {
  background-color: #eee;
  border-radius: 5px;
  padding: 7px;
  height: 16px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25); }

.sub-nav-col {
  background: none repeat scroll 0 0 #eee;
  float: left;
  margin: 0 auto;
  padding: 10px 7px;
  position: absolute;
  text-align: left;
  z-index: 1000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25); }

/*nav end*/
/*ribbob start*/
.rq-top-ribbon {
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 25px; }
  .rq-top-ribbon > ul > li {
    display: inline;
    float: left;
    padding: 15px 20px 0 20px;
    border-right: 1px solid #ccc;
    height: 82px; }
    .rq-top-ribbon > ul > li#sprints-section span {
      width: 35%; }
    .rq-top-ribbon > ul > li > span:last-child {
      padding-top: 10px;
      display: block;
      width: 28%;
      margin: 0px auto;
      font-size: 13px;
      color: #737373;
      clear: both; }
    .rq-top-ribbon > ul > li > ul {
      float: left;
      clear: both; }
      .rq-top-ribbon > ul > li > ul .grey-bg {
        background-color: #eee;
        border-radius: 3px; }
      .rq-top-ribbon > ul > li > ul > li {
        display: inline;
        float: left;
        margin-right: 35px; }
        .rq-top-ribbon > ul > li > ul > li select {
          color: #444;
          width: 102px; }
        .rq-top-ribbon > ul > li > ul > li a {
          padding-top: 2px;
          display: block;
          color: #444; }
          .rq-top-ribbon > ul > li > ul > li a:hover {
            text-decoration: none;
            color: #3399CC; }
        .rq-top-ribbon > ul > li > ul > li:last-child {
          margin-right: 0; }
        .rq-top-ribbon > ul > li > ul > li.icon-inline {
          padding: 0; }
          .rq-top-ribbon > ul > li > ul > li.icon-inline .rq-btn-icon {
            margin-right: 15px;
            float: left; }
          .rq-top-ribbon > ul > li > ul > li.icon-inline select, .rq-top-ribbon > ul > li > ul > li.icon-inline span:last-child {
            float: right; }
    .rq-top-ribbon > ul > li:last-child {
      border-right: none; }
      .rq-top-ribbon > ul > li:last-child > span:last-child {
        width: 60%; }
    .rq-top-ribbon > ul > li .sub-nav-wrapper {
      width: 250px;
      height: 0;
      overflow: hidden;
      margin-left: -11px;
      position: absolute;
      top: 87px; }
    .rq-top-ribbon > ul > li .sub-nav {
      background-color: #eee;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 15px 10px 10px 10px;
      width: 226px;
      display: none;
      position: relative;
      z-index: 1;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25); }
      .rq-top-ribbon > ul > li .sub-nav select, .rq-top-ribbon > ul > li .sub-nav .rq-ribbon-filter-text {
        display: block;
        box-sizing: content-box;
        margin-bottom: 7px;
        border: 1px solid #ccc; }
      .rq-top-ribbon > ul > li .sub-nav select {
        width: 224px;
        height: 23px;
        clear: both;
        background-color: #fff; }
        .rq-top-ribbon > ul > li .sub-nav select:last-child {
          margin-bottom: 0; }
      .rq-top-ribbon > ul > li .sub-nav .rq-ribbon-filter-text {
        width: 201px;
        height: 21px;
        padding-left: 4px;
        padding-right: 19px; }

#add-project {
  padding: 0 12px; }

#rq-filters-item ul > li {
  padding: 0; }

#rq-filters {
  padding: 7px 10px; }

#teams select, #sprints select, #opt-my-work select, #projectdates select {
  border: none; }

#teams:hover, #sprints:hover, #projectdates:hover, #teams select:hover, #sprints select:hover, #projectdates select:hover {
  cursor: pointer; }

#opt-my-work:hover, #opt-my-work select:hover {
  cursor: pointer; }

.active-item-bg {
  background-color: #eee;
  border-radius: 3px; }

.active-item-color {
  color: #444; }

.disable-hover a span:last-child {
  text-decoration: none;
  color: #444; }

#span-projectdate-caption {
  width: 100%;
  text-align: center; }

#rq-filters {
  width: 37px;
  padding-bottom: 0;
  height: 33px; }

.add-bg {
  background-color: #eee;
  border-radius: 5px;
  height: 33px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25); }

#rq-filters-item > span:last-child {
  width: 66%;
  display: block;
  padding-top: 23px; }

#rq-filters:hover > span:last-child {
  display: none; }
#rq-filters #search {
  background-color: #007CB8;
  color: #fff;
  border: none;
  padding: 7px 0;
  width: 107px; }
#rq-filters #reset {
  background-color: #007CB8;
  color: #fff;
  border: none;
  padding: 7px 0;
  width: 107px;
  color: #007db8;
  background-color: #eeeeee;
  border: 1px solid #cccccc; }
  #rq-filters #reset:hover {
    cursor: pointer; }
#rq-filters #search:hover {
  background-color: #00447B;
  cursor: pointer; }

#rq-ribbon-search-text {
  position: relative;
  z-index: 0;
  padding-right: 21px;
  width: 268px; }

.wide-blue-button {
  background-color: #007CB8;
  height: 55px;
  border-radius: 3px;
  vertical-align: middle; }
  .wide-blue-button a {
    padding: 0 10px;
    display: block;
    color: #fff;
    float: left; }
    .wide-blue-button a span:first-child {
      font-size: 38px;
      display: block;
      float: left;
      line-height: 8px;
      line-height: 55px;
      font-size: 2.5em; }
    .wide-blue-button a span:last-child {
      display: block;
      float: left;
      margin-left: 6px;
      line-height: 55px;
      font-size: 1.2em; }
    .wide-blue-button a:hover {
      text-decoration: none; }

/*icons start*/
.rq-btn-icon {
  background-image: url("http://stage-o2/mk/Static/Content/Img/request-queue-sprite.png");
  background-repeat: no-repeat;
  border: medium none;
  background-color: transparent;
  display: block;
  height: 22px; }

#rq-ribbon-search-item > div {
  padding-top: 20px;
  width: 294px; }
#rq-ribbon-search-item > span:last-child {
  padding-top: 8px;
  width: 17%; }

#rq-ribbon-search-btn {
  background-position: 0 -127px;
  cursor: pointer;
  clear: both;
  position: relative;
  width: 13px;
  height: 13px;
  float: right;
  top: -17px;
  right: 5px; }

#my-work-icon {
  background-position: 4px -40px;
  width: 25px; }

.active-item-bg select {
  background-color: #eee; }
.active-item-bg #my-work-icon {
  background-position: 4px -2px; }

#opt-my-work:hover #my-work-icon {
  background-position: 4px -2px; }

#dp-Team-icon {
  background-position: -66px -38px;
  width: 25px; }

#teams:hover #dp-Team-icon, .active-item-bg #dp-Team-icon {
  background-position: -65px 0; }

#jan-fy-icon {
  background-position: -163px -38px;
  width: 30%;
  margin: 0 auto; }

#proj-fy-icon {
  background-position: -780px -38px;
  width: 30%; }

#sprints:hover #jan-fy-icon, .active-item-bg #jan-fy-icon {
  background-position: -164px -1px; }

#projectdates:hover #proj-fy-icon, .active-item-bg #proj-fy-icon {
  background-position: -780px 0px; }

#backlog-icon {
  background-position: -253px -5px;
  width: 24px; }

.active-item-bg #backlog-icon, #backlog:hover #backlog-icon {
  background-position: -254px -40px; }

#started-icon {
  background-position: -722px -4px;
  width: 20px; }

.active-item-bg #started-icon, #started:hover #started-icon {
  background-position: -722px -39px; }

#idea-icon {
  background-position: -312px -2px;
  width: 20px; }

.active-item-bg #idea-icon, #idea:hover #idea-icon {
  background-position: -314px -40px; }

#council-icon {
  background-position: -357px -3px;
  width: 20px; }

.active-item-bg #council-icon, #council:hover #council-icon {
  background-position: -359px -40px; }

#done-icon {
  background-position: -410px -2px;
  width: 20px; }

.active-item-bg #done-icon, #done:hover #done-icon {
  background-position: -412px -40px; }

#cancelled-icon {
  background-position: -466px -2px;
  width: 20px; }

.active-item-bg #cancelled-icon, #cancelled:hover #cancelled-icon {
  background-position: -468px -40px; }

#filters-icon {
  background-position: -552px -3px;
  width: 47%;
  margin: 2px auto 0 auto; }

.active-item-bg #filters-icon, .activate-bg #filters-icon, #rq-filters a:hover #filters-icon, .add-bg #filters-icon {
  background-position: -552px -40px; }

#excel-icon {
  background-position: -653px 0;
  width: 94%; }

#request-type-btn, #campaign-btn, #project-btn {
  background-position: -17px -127px;
  width: 14px;
  height: 13px;
  margin: -26px 4px 0 0; }

#requester-btn, #owner-btn {
  background-position: -35px -127px;
  width: 16px;
  height: 15px;
  margin: -27px 4px 0 0; }

.mb-20 {
  margin-bottom: 20px; }
