@charset "UTF-8";
/* Use this file for styles that are common or come from
*  SingleQueue, There are cases that new widgets or components
*  are also being brought down to legacy pages
*  Currently is being used on stage: http://stage-o2.prod.quest.corp/mk/RequestQueues/Project/
*/
@font-face {
  font-family: 'museo-sans-for-dell-100';
  src: url("../fonts/museosansfordell-100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosansfordell-100-webfont.woff") format("woff"), url("../fonts/museosansfordell-100-webfont.ttf") format("truetype"), url("../fonts/museosansfordell-100-webfont.svg#MuseoSansForDell100") format("svg");
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'museo-sans-for-dell-300';
  src: url("../fonts/museosansfordell-300-webfont.eot");
  src: url("../fonts/museosansfordell-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosansfordell-300-webfont.woff") format("woff"), url("../fonts/museosansfordell-300-webfont.ttf") format("truetype"), url("../fonts/museosansfordell-300-webfont.svg#MuseoSansForDell300") format("svg");
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'museo-sans-for-dell-700';
  src: url("../fonts/museosansfordell-700-webfont.eot");
  src: url("../fonts/museosansfordell-700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosansfordell-700-webfont.woff") format("woff"), url("../fonts/museosansfordell-700-webfont.ttf") format("truetype"), url("../fonts/museosansfordell-700-webfont.svg#MuseoSansForDell700") format("svg");
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'icon-ui';
  src: url("../fonts/icon-ui.eot");
  src: url("../fonts/icon-ui.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-ui.woff") format("woff"), url("../fonts/icon-ui.ttf") format("truetype"), url("../fonts/icon-ui.svg#icon-ui") format("svg");
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'icon-small';
  src: url("../fonts/icon-small.eot");
  src: url("../fonts/icon-small.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-small.woff") format("woff"), url("../fonts/icon-small.ttf") format("truetype"), url("../fonts/icon-small.svg#icon-small") format("svg");
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'icon-large';
  src: url("../fonts/icon-large.eot");
  src: url("../fonts/icon-large.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-large.woff") format("woff"), url("../fonts/icon-large.ttf") format("truetype"), url("../fonts/icon-large.svg#icon-large") format("svg");
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
	src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
#results-data-list-tasks .owner-col .color-id, #results-data-list-requests .owner-col .color-id {
  width: 5px;
	heigt: 24px;
}

#results-data-list-tasks .owner-col span, #results-data-list-requests .owner-col span {
	display: table-cell;
}

#results-data-list-tasks .owner-col .owner-name, #results-data-list-requests .owner-col .owner-name {
  padding-left: 5px;
	max-width: 100px;
}

#expandable-control {
  border-right: 2px solid #ccc;
  padding: 5px 24px;
	color: #2e2e2e;
}

.border-box {
	box-sizing: border-box;
}

.border-box * {
	box-sizing: border-box;
}

.border-box *::before, .border-box *::after {
	box-sizing: border-box;
}

#expandable-control span {
  font-size: 10px;
  display: inline-block;
	margin-left: 4px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-triangle-bottom:before {
	content: "\e252";
}

.glyphicon-chevron-right:before {
	content: "\e080";
}

/* style for Add new request modal */
.modal-nav h3 {
  font-size: 23px;
  margin: 0;
  padding: 0;
  line-height: 66px;
  font-weight: bold;
  border-bottom: 1px solid #aaaaaa;
	/*width: 170px;*/
}
.modal-nav li {
	margin: 0;
	padding: 0;
	line-height: 66px;
	font-weight: bold;
	border-bottom: 1px solid #aaaaaa;
	/*width: 170px;*/
	line-height: 52px;
}
.modal-nav #myTabs {
	list-style: none;
}

.modal-nav #myTabs a {
	color: #444;
}

.modal-nav #myTabs a:hover {
	color: #007db8;
}

.modal-nav #myTabs li.active a {
	color: #007db8;
}
.modal-nav .icon {
  display: inline-block;
  vertical-align: middle;
	margin-right: 10px;
}
.modal-nav .sprite-docs {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat 0 -40px;
  width: 32px;
	height: 32px;
}
.modal-nav li.active .sprite-docs {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat 0 0;
  width: 32px;
	height: 32px;
}
.modal-nav .sprite-ecommerce {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -79px -45px;
  width: 32px;
	height: 22px;
}
.modal-nav li.active .sprite-ecommerce {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -79px -5px;
  width: 32px;
	height: 22px;
}
.modal-nav .sprite-operations {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -34px -40px;
  width: 32px;
	height: 32px;
}
.modal-nav li.active .sprite-operations {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -34px 0;
  width: 32px;
	height: 32px;
}
.modal-nav .sprite-reporting {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -162px -40px;
  width: 32px;
	height: 32px;
}
.modal-nav li.active .sprite-reporting {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -162px 0;
  width: 32px;
	height: 32px;
}
.modal-nav .sprite-support {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -123px -40px;
  width: 32px;
	height: 32px;
}
.modal-nav li.active .sprite-support {
  background: url("../../Images/common/add-new-req-icons.png") no-repeat -123px 0;
  width: 32px;
	height: 32px;
}

#expandable-control {
  border-right: 2px solid #ccc;
  padding: 5px 24px;
	color: #2e2e2e;
}

#expandable-control span {
	font-size: 10px;
	display: inline-block;
	margin-left: 4px;
}

.tab-content {
  padding-top: 15px;
  border-left: 1px solid #aaa;
  padding-left: 20px;
	min-height: 345px;
}

.tab-content a {
	font-family: "Trebuchet MS", "Roboto", "Segoe UI", "Helvetica Neue", "Meiryo UI Reg", "├ú╞Æ┬í├úΓÇÜ┬ñ├ú╞Æ┬¬├úΓÇÜ┬¬ Reg", "MS UI Gothic Reg", "Hiragino Kaku Gothic Reg", "├ú╞ÆΓÇÖ├ú╞Æ┬⌐├úΓÇÜ┬«├ú╞Æ┼╜├¿┬ºΓÇÖ├úΓÇÜ┬┤ Pro W3 Reg", "Microsoft YaHei", "├Ñ┬╛┬«├¿┬╜┬»├⌐ΓÇ║ΓÇª├⌐┬╗ΓÇÿ", "Hiragino Sans GB", "Microsoft JhengHei", "├Ñ┬╛┬«├¿┬╗┼╕├ª┬¡┬ú├⌐┬╗ΓÇÿ├⌐┬½ΓÇ¥", "Malgun Gothic", Gulim, Tahoma, "Arial Unicode", sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #007db8;
	background-color: white;
	position: relative;
}

.tab-content a:hover {
	color: #00496c;
}

.tab-content .glyphicon {
	margin-right: 10px;
}

.tab-content ul {
	list-style: none;
}

.tab-content ul ul > li {
	padding-left: 40px;
}

.tab-content .simple-list {
	padding-left: 24px;
}

.tab-content .collapse.in {
	margin-top: 10px;
}

.tab-content h4 {
	margin-bottom: 30px;
}

.glyphicon-chevron-down:before {
	content: "\e114";
}

#tabstrip-modal .modal-top-area {
	padding-right: 4px;
}

.k-widget.k-window.k-window-titleless {
  min-width: 1268px !important;
	padding: 20px;
}

#addReqModal {
	overflow: hidden !important;
}

.show-collapsed {
	display: none;
}

.collapsed .show-collapsed {
	display: block;
}
.collapsed .hide-expanded {
	display: none;
}

/*# sourceMappingURL=common-custom-ui.css.map */
