@import "../bootstrap/custom/variables";
@import "../bootstrap/partials/mixins";

/* This is not used for Single Queue but other areas in O2 */

/*created by: Elnaz Doostdar & Jorge Leon 1/27/2015*/
/*Updated by: Elnaz Doostdar 2/10/2015
 *************************************
 *Added code for sub navigation
 *Added 'Apply' and 'Reset' buttons

/*Updated by: Elnaz Doostdar 2/12/2015
 *************************************
 *made filter wider
 *made select boxes bigger for all teams and all sprints
 *add active filter style
*/
/*created by: Elnaz Doostdar & Jorge Leon 1/27/2015 start*/

.wrapper {
	width: 1540px;
	margin: 0 auto;
	height: auto;
}

#body-content {
	height: 100%;
}

/*top header start*/

#top-head {
	position: relative;
	float: left;
	width: 100%;
}

#search-query {
	width: 367px;
	height: 30px;
	border: none;
	/*reset border*/
	border-top-color: #bbb;
	border-width: 1px;
	border-bottom-color: #e6e6e6;
	border-left-color: #e6e6e6;
	border-right-color: #e6e6e6;
	border-style: solid;
	border-radius: 2px;
	margin-right: 10px;
}

#search-container {
	margin: 15px 0 0 10px;
	width: 463px;
}

#search-query-container {
	display: block;
	float: left;
	> input {
		padding-left: 3px;
	}
}

.button-wrapper {
	width: auto;
	height: auto;
	background: none;
	background-color: #007CB8;
	&:hover {
		background-color: #00447B;
	}
}

.wide-blue-button:hover {
	background-color: #00447B;
}

.button-wrapper > a {
	color: #fff;
	padding: 9px 21px;
	display: block;
	&:hover {
		text-decoration: none;
	}
}

#search-radio-container label {
	vertical-align: top;
	margin-top: 4px;
	display: inline-block;
}

/*top header end*/

/*tabs start*/

#tabs {
	padding-top: 0;
	position: relative;
	float: left;
	width: 100%;
	margin-top: 13px;
	height: 48px;
	margin-bottom: 4px;
	display: none;
	> ul {
		top: 0;
		background-image: none;
		background-color: transparent;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #e4e4e4;
		border-left: 1px solid #e4e4e4;
		border-radius: 0;
		padding: 0;
		position: relative;
		float: left;
		margin-bottom: 0;
		> li {
			border-top: 1px solid #e4e4e4;
			border-right: 1px solid #e4e4e4;
			border-left: none;
			border-bottom: none;
			border-radius: 0;
			margin: 0;
			/*background: url("images/tab-bg.png") repeat-x 0 0;*/
			height: 46px;
			background: #ffffff;
			/* Old browsers */
			background: #ffffff;
			/* Old browsers */
			background: #ffffff;
			/* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top, #ffffff 1%, #eeeeee 100%);
			/* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eeeeee));
			/* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffffff 1%, #eeeeee 100%);
			/* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffffff 1%, #eeeeee 100%);
			/* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffffff 1%, #eeeeee 100%);
			/* IE10+ */
			background: linear-gradient(to bottom, #ffffff 1%, #eeeeee 100%);
			/* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
			/* IE6-8 */
			> a {
				display: block;
				padding: 17px 25px;
			}
			&.ui-tabs-active {
				border: none;
				border-right: 1px solid #e4e4e4;
				border-top: 1px solid #e4e4e4;
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
				background-color: #fff;
				a {
					border-top: 4px solid #0085c3;
					padding: 13px 25px 19px 25px !important;
				}
			}
			> a:hover {
				text-decoration: none;
			}
		}
	}
}

.ui-widget-header {
	border-left: 1px solid #e4e4e4;
}

.ui-tabs {
	padding: 0;
}

/*tabs end*/

/*nav start*/

.nav {
	position: relative;
	width: 100%;
	background: none;
	margin-bottom: 4px;
	float: left;
	overflow: visible;
	a {
		color: #666;
		&:hover, &.active {
			color: #3399CC;
			text-decoration: none;
		}
	}
}

.sub-nav {
	#filter-title > a {
		color: #3399CC;
		text-decoration: none;
	}
	#search {
		margin-right: 7px;
	}
}

.nav {
	li {
		&:first-child {
			margin-left: 12px;
		}
		margin-left: 32px;
		padding: 7px;
	}
	ul .right {
		float: right;
	}
	#question-mark-icon {
		background: url('../Content/Img/icon-question-mark-sprite.png') no-repeat 0 -1px;
		width: 10px;
		height: 14px;
		display: inline-block;
		margin-right: 4px;
	}
	ul {
		.right:hover #question-mark-icon {
			background-position: 0 -18px;
		}
		li {
			.sub-nav-col {
				display: none;
			}
			ul li {
				display: block;
				margin: 0;
				clear: both;
				padding: 5px 0;
				&:last-child {
					padding-bottom: 0;
				}
				&:first-child {
					margin: 0;
				}
			}
		}
	}
}

.nav-active {
	background-color: #eee;
	border-radius: 5px;
	padding: 7px;
	height: 16px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.sub-nav-col {
	background: none repeat scroll 0 0 #eee;
	float: left;
	margin: 0 auto;
	padding: 10px 7px;
	position: absolute;
	text-align: left;
	z-index: 1000;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.nav ul > li {
	&:hover {
		.sub-nav-col li a {
			display: block;
		}
		.sub-nav-col-wrapper {
			width: 190px;
			height: 0;
			margin-left: -8px;
			position: absolute;
			overflow: hidden;
			min-width: 134px;
			min-height: 273px;
		}
	}
	&:nth-child(4):hover .sub-nav-col-wrapper {
		min-width: 247px;
		min-height: 346px;
	}
}

/*nav end*/

/*ribbob start*/

.rq-top-ribbon {
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 0;
	margin-bottom: 25px;
	> ul > li {
		display: inline;
		float: left;
		> ul > li {
			display: inline;
			float: left;
		}
		&:first-child {
			width: 173px;
		}
	}
}

#add-project {
	padding: 0 12px;
}

.rq-top-ribbon > ul > li {
	padding: 0 13px;
	border-right: 1px solid #ccc;
	height: 82px;
	> ul > li {
		padding: 7px 10px;
		margin-right: 7px;
		&:last-child {
			margin-right: 0;
		}
	}
}

#rq-filters-item ul > li {
	padding: 0;
}

#rq-filters {
	padding: 7px 10px;
}

.rq-top-ribbon > ul > li > ul {
	.grey-bg {
		background-color: #eee;
		border-radius: 3px;
	}
	> li select {
		color: #444;
		width: 102px;
	}
}

#teams select, #sprints select, #opt-my-work select, #projectdates select {
	border: none;
}

#teams:hover, #sprints:hover, #projectdates:hover, #teams select:hover, #sprints select:hover, #projectdates select:hover {
	cursor: pointer;
}

#opt-my-work {
	&:hover, select:hover {
		cursor: pointer;
	}
}

.rq-top-ribbon > ul > li > ul > li a {
	padding-top: 2px;
	display: block;
	color: #444;
}

.active-item-bg {
	background-color: #eee;
	border-radius: 3px;
}

.active-item-color {
	color: #444;
}

.rq-top-ribbon > ul > li > ul > li a:hover {
	text-decoration: none;
	color: #3399CC;
}

.disable-hover a span:last-child {
	text-decoration: none;
	color: #444;
}

.rq-top-ribbon > ul > li > span:last-child {
	padding-top: 10px;
	display: block;
	width: 25%;
	margin: 0px auto;
	font-size: 13px;
	color: #737373;
	clear: both;
}

#span-projectdate-caption {
	width: 100%;
	text-align: center;
}

.rq-top-ribbon > ul > li {
	&:last-child {
		> span:last-child {
			width: 60%;
		}
		border-right: none;
	}
	.sub-nav-wrapper {
		width: 250px;
		height: 0;
		overflow: hidden;
		margin-left: -11px;
		position: absolute;
		top: 87px;
	}
	.sub-nav {
		background-color: #eee;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 15px 10px 10px 10px;
		width: 226px;
		display: none;
		position: relative;
		z-index: 1;
		box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
		select, .rq-ribbon-filter-text {
			display: block;
			box-sizing: content-box;
			margin-bottom: 7px;
			border: 1px solid #ccc;
		}
		select {
			&:last-child {
				margin-bottom: 0;
			}
			width: 224px;
			height: 23px;
			clear: both;
			background-color: #fff;
		}
		.rq-ribbon-filter-text {
			width: 201px;
			height: 21px;
			padding-left: 4px;
			padding-right: 19px;
			&::-ms-clear {
				display: none;
			}
		}
	}
}

#rq-filters {
	width: 37px;
	padding-bottom: 0;
	height: 33px;
}

.add-bg {
	background-color: #eee;
	border-radius: 5px;
	height: 33px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

#rq-filters-item > span:last-child {
	width: 66%;
	display: block;
	padding-top: 23px;
}

#rq-filters {
	&:hover > span:last-child {
		display: none;
	}
	#search {
		background-color: #007CB8;
		color: #fff;
		border: none;
		padding: 7px 0;
		width: 107px;
	}
	#reset {
		background-color: #007CB8;
		color: #fff;
		border: none;
		padding: 7px 0;
		width: 107px;
		color: #007db8;
		background-color: #eeeeee;
		border: 1px solid #cccccc;
		&:hover {
			cursor: pointer;
		}
	}
	#search:hover {
		background-color: #00447B;
		cursor: pointer;
	}
}

.sub-nav {
	#filter-title {
		margin-bottom: 10px;
		display: block;
		float: left;
		width: 100%;
		> {
			span {
				float: left;
				font-weight: bold;
			}
			a {
				float: right;
				text-decoration: none;
			}
		}
	}
	> div {
		display: block;
		float: left;
	}
}

#rq-ribbon-search-text {
	position: relative;
	z-index: 0;
	padding-right: 21px;
	width: 268px;
}

.wide-blue-button {
	background-color: #007CB8;
	height: 55px;
	border-radius: 3px;
	vertical-align: middle;
	a {
		padding: 0 10px;
		display: block;
		color: #fff;
		float: left;
		span {
			&:first-child {
				font-size: 38px;
				display: block;
				float: left;
				line-height: 8px;
				line-height: 55px;
				font-size: 2.5em;
			}
			&:last-child {
				display: block;
				float: left;
				margin-left: 6px;
				line-height: 55px;
				font-size: 1.2em;
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
}

/*icons start*/

.sub-nav .rq-btn-icon {
	cursor: pointer;
	clear: both;
	float: right;
	position: relative;
	z-index: 99999;
	/*fix for ie9*/
}

.rq-btn-icon {
	background-image: url('../Content/Img/request-queue-sprite.png');
	background-repeat: no-repeat;
	border: medium none;
	background-color: transparent;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	height: 22px;
}

#rq-ribbon-search-item {
	width: 294px;
	> {
		div {
			padding-top: 20px;
			width: 294px;
		}
		span:last-child {
			padding-top: 8px;
			width: 17%;
		}
	}
}

#rq-ribbon-search-btn {
	background-position: 0 -127px;
	cursor: pointer;
	clear: both;
	position: relative;
	width: 13px;
	height: 13px;
	float: right;
	top: -17px;
	right: 5px;
}

#my-work-icon {
	background-position: 0 -40px;
	width: 30%;
}

.active-item-bg {
	select {
		background-color: #eee;
	}
	#my-work-icon {
		background-position: 0 -2px;
	}
}

#opt-my-work:hover #my-work-icon {
	background-position: 0 -2px;
}

#dp-Team-icon {
	background-position: -66px -38px;
	width: 31%;
}

#teams:hover #dp-Team-icon, .active-item-bg #dp-Team-icon {
	background-position: -65px 0;
}

#jan-fy-icon {
	background-position: -163px -38px;
	width: 30%;
}

#proj-fy-icon {
	background-position: -780px -38px;
	width: 30%;
}

#sprints:hover #jan-fy-icon, .active-item-bg #jan-fy-icon {
	background-position: -164px -1px;
}

#projectdates:hover #proj-fy-icon, .active-item-bg #proj-fy-icon {
	background-position: -780px 0px;
}

#backlog-icon {
	background-position: -257px -5px;
	width: 30%;
}

.active-item-bg #backlog-icon, #backlog:hover #backlog-icon {
	background-position: -258px -40px;
}

#started-icon {
	background-position: -718px -4px;
	width: 61%;
}

.active-item-bg #started-icon, #started:hover #started-icon {
	background-position: -718px -39px;
}

#idea-icon {
	background-position: -312px -2px;
	width: 51%;
}

.active-item-bg #idea-icon, #idea:hover #idea-icon {
	background-position: -314px -40px;
}

#council-icon {
	background-position: -357px -3px;
	width: 39%;
}

.active-item-bg #council-icon, #council:hover #council-icon {
	background-position: -359px -40px;
}

#done-icon {
	background-position: -410px -2px;
	width: 61%;
}

.active-item-bg #done-icon, #done:hover #done-icon {
	background-position: -412px -40px;
}

#cancelled-icon {
	background-position: -468px -2px;
	width: 30%;
}

.active-item-bg #cancelled-icon, #cancelled:hover #cancelled-icon {
	background-position: -470px -40px;
}

#filters-icon {
	background-position: -552px -3px;
	width: 47%;
	margin-top: 2px;
}

.active-item-bg #filters-icon, .activate-bg #filters-icon, #rq-filters a:hover #filters-icon, .add-bg #filters-icon {
	background-position: -552px -40px;
}

#excel-icon {
	background-position: -653px 0;
	width: 94%;
}

#request-type-btn, #campaign-btn, #project-btn {
	background-position: -17px -127px;
	width: 14px;
	height: 13px;
	margin: -26px 4px 0 0;
}

#requester-btn, #owner-btn {
	background-position: -35px -127px;
	width: 16px;
	height: 15px;
	margin: -27px 4px 0 0;
}

/*pop-up content style start*/

.new-request-wrapper {
	width: 778px;
	padding: 10px;
	display: inline-block;
}

.search-request-type-wrapper {
	width: 1100px;
	padding: 10px;
}

.new-request-wrapper h1, .search-request-type-wrapper h1 {
	font-size: 18px;
	line-height: 24px;
	padding: 0 0 10px;
	color: #333;
	width: 640px;
}

.new-request-wrapper h1 span {
	font-size: 13px;
	font-weight: normal;
}

.request-type-wrapper {
	float: left;
	display: inline;
	margin-right: 26px;
}

.request-type-table-wrapper {
	float: left;
	display: inline;
	margin-right: 2px;
}

.request-type-wrapper h3, .request-type-table-wrapper h3 {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	font-size: 13px;
	font-weight: bold;
}

.request-type-wrapper > ul, .request-type-table-wrapper > ul {
	padding-top: 5px;
	margin-bottom: 15px;
}

.request-type-wrapper > ul li a {
	padding: 2px 13px 5px 5px;
	display: block;
}

.request-type-table-wrapper > ul li a {
	padding: 1px 4px 1px 3px;
	display: block;
	font-size: 12px;
}

.popup-two-cols {
	width: 337px;
	float: left;
	.request-type-wrapper {
		width: 130px;
	}
}

.popup-four-cols {
	width: 748px;
	float: left;
}

.popup-col {
	width: 220px;
	float: left;
}

.new-request-wrapper div:last-child .request-type-wrapper {
	margin-right: 0;
}

#short-list {
	width: 199px;
}

#long-list {
	width: 208px;
}

.search-request-type-wrapper td {
	vertical-align: top;
}

/*pop-up content style end*/

/*created by: Elnaz Doostdar 1/27/2015 end*/

/**************************************/

/*created by: Jorge Leon 1/27/2015 start*/

.data-heading {
	/*width: 1540px;*/
	margin: 20px auto;
	clear: both;
	h3 {
		color: #444;
		font-size: 18px;
		font-weight: bold;
	}
	h3, > div {
		display: inline-block;
	}
}

.data-footer {
	/*width: 1540px;*/
	margin: 20px auto;
}

/* tooltip styles */

.tooltip {
	display: inline;
	position: relative;
	&:hover {
		&:after {
			background: #fff;
			/* background: rgba(256,256,256,.8); */
			border-radius: 5px;
			bottom: 26px;
			color: #444;
			content: attr(data-tooltip);
			left: 20%;
			padding: 10px;
			position: absolute;
			z-index: 9998;
			width: 180px;
			border: 1px #ccc solid;
			box-shadow: 1px 1px 5px #ccc;
		}
		&:before {
			/* arrow at the bottom */
			border: solid;
			border-color: #aaa transparent;
			border-width: 8px 8px 0px 8px;
			bottom: 19px;
			content: "";
			left: 80%;
			position: absolute;
			z-index: 9999;
		}
	}
}

/* special positioning for first alert */

tbody tr:first-child .tooltip:hover:after {
	top: -50px;
	padding: 5px;
}

/* pagination styles */

.pagination.pagination-centered {
	margin: auto;
	text-align: center;
}

.paging {
	float: right;
}

.pagination {
	ul {
		display: inline-block;
		li {
			list-style-type: none;
			float: left;
		}
		overflow: hidden;
		margin: -1px 0 0 0 !important;
		display: inline-block;
	}
	height: 42px;
	margin: 18px 0;
	> div {
		display: inline-block;
		background: url("../Content/Img/shared/vertical-pipe.png") 100% 0 repeat-y;
		padding: 12px 20px 0;
		margin: 2px 0;
		vertical-align: top;
		height: 26px;
		line-height: 13px;
		&:last-child {
			background: 0;
		}
	}
	li {
		list-style: none outside none !important;
		float: left;
		margin-right: 4px;
		min-width: 17px;
		height: 16px;
		text-align: center;
		padding: 0 3px 0 2px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	a, strong {
		display: block;
		font-size: 14px !important;
		line-height: 16px;
	}
	a:visited {
		color: #39c;
	}
	li {
		&:last-child {
			margin-right: 0;
		}
		&.active {
			background-color: #999;
			a, strong {
				color: #fff;
			}
		}
	}
	.prev, .next {
		width: 9px;
		height: 14px;
		display: inline-block;
		background: url("//software.dell.com/images/shared/sprites.png") 0 0 no-repeat;
		vertical-align: top;
		margin-top: 1px;
	}
	.prev {
		background-position: -25px -23px;
		&:hover {
			background-position: -5px -23px;
		}
	}
	.inactive a.prev {
		background-position: -45px -23px;
	}
	.next {
		background-position: -85px -23px;
		&:hover {
			background-position: -105px -23px;
		}
	}
	.inactive a.next {
		background-position: -65px -23px;
	}
	.sortby {
		margin-top: -5px;
	}
}

/* exported from collective.min.css .pagination */

/* links */

#dynamic-table a {
	&.no-visited:visited, &:visited, &:link {
		color: #39c;
	}
	&:focus {
		outline: 0;
	}
	&:hover {
		text-decoration: underline;
		color: #39c;
	}
}

.wide-blue-button a, .button-wrapper a {
	color: #fff !important;
}

.outside-sprint {
	background: url(../Content/Img/icon-warning.png) no-repeat right center;
	padding-right: 20px;
}

.req-past-due {
	background: url(../Content/Img/icon-warning-red.png) no-repeat right center;
	padding-right: 20px;
}

.req-past-due-outside-sprint {
	background: url(../Content/Img/icon-warning-red-yellow.png) no-repeat right center;
	padding-right: 20px;
}

/*created by: Jorge Leon 1/27/2015 end*/

.activate-bg {
	background-color: #eee;
	border-radius: 3px;
	padding-bottom: 7px !important;
	height: auto !important;
}

.active-filters span {
	padding-bottom: 11px;
}

#campaign-form-wrapper td, #project-form-wrapper td {
	background-color: #FFFFFF !important;
	padding: 12px 2px 0px 2px;
}

#EditProjectTable td {
	background-color: #FFFFFF;
	&.FormRowTitle {
		font-weight: bold;
	}
}

#project-form-wrapper {
	margin: 0;
	padding: 0;
}

.field-validation-error {
	color: red;
}

#project-campaign-search img {
	margin: auto;
	vertical-align: middle;
	display: inline-block;
	border: none;
}

.request-info {
	color: #FFFFFF !important;
	background-color: #4a4b4d;
	text-align: center;
	display: inline-block;
	width: 16px;
	text-decoration: none;
	&:visited, &:active, &:hover {
		color: #FFFFFF !important;
		background-color: #4a4b4d;
		text-align: center;
		display: inline-block;
		width: 16px;
		text-decoration: none;
	}
}

.request-info-popup, .fc-request-info-popup, .fc-project-info-popup {
	display: none;
}

.request-info-popup table {
	width: 500px;
	td {
		background-color: #FFFFFF;
		font-size: 13px;
		line-height: 13px;
		padding: 3px;
		b {
			font-weight: bold;
		}
	}
}

.fc-request-info-popup table td, .fc-project-info-popup table td {
	background-color: #FFFFFF;
	font-size: 13px;
	line-height: 13px;
	padding: 2px;
}

.fc-more-popover .fc-event-container {
	padding: 1px !important;
}

#page-header {
	margin-top: 6px;
	float: left;
	display: inline-block;
}

#TopPager .k-current-page, #BottomPager .k-current-page {
	display: none !important;
}

/* Views */

#views-selector {
	float: left;
	display: inline-block;
	height: 31px;
	width: 600px;
	ul {
		position: relative;
		li {
			display: inline-block;
			position: relative;
			cursor: pointer;
			float: left;
			margin-right: 10px;
			ul {
				position: absolute;
				top: 31px;
				right: 0px;
				z-index: 999;
				border: 1px solid #7f9db9;
				width: 110px;
				display: none;
				li {
					display: block;
					background-color: #eeeeee;
					font-size: 13px;
					border-collapse: collapse;
					padding: 2px;
					cursor: default;
					&:hover {
						background-color: #1e90ff;
						color: #FFFFFF;
					}
				}
			}
		}
	}
	#views-list {
		background: url(../Content/Img/request-queue-views-01.png) 0px 0px no-repeat;
		width: 65px;
		height: 31px;
		&:hover {
			background-position: 0px -31px;
		}
		&.active {
			background-position: 0px -62px;
		}
	}
	#views-list-edit {
		background: url(../Content/Img/request-queue-views-01-edit.png) 0px 0px no-repeat;
		width: 78px;
		height: 31px;
		&:hover {
			background-position: 0px -31px;
		}
		&.active {
			background-position: 0px -62px;
		}
	}
	#views-calendar {
		background: url(../Content/Img/request-queue-views-02.jpg) 0px 0px no-repeat;
		width: 97px;
		height: 31px;
		&:hover {
			background-position: 0px -31px;
		}
		&.active {
			background-position: 0px -62px;
		}
	}
	#views-charts {
		background: url(../Content/Img/request-queue-views-03.jpg) 0px 0px no-repeat;
		width: 79px;
		height: 31px;
		&:hover {
			background-position: 0px -31px;
		}
		&.active {
			background-position: 0px -62px;
		}
	}
}

/* Calendar view */

#results-data-calendar {
	.fc-day-grid-event .fc-content {
		white-space: normal !important;
		overflow: hidden !important;
	}
	table {
		td, tr {
			background-color: transparent !important;
		}
	}
	.fc-event-container a {
		font-size: 10px !important;
		color: #FFFFFF !important;
		max-width: none !important;
		&:hover, &:visited {
			font-size: 10px !important;
			color: #FFFFFF !important;
			max-width: none !important;
		}
	}
	h2 {
		font-size: 16px;
		font-weight: bold;
	}
	.fc-day-number {
		font-size: 14px;
		font-weight: bold;
	}
	.fc-day-grid-event .fc-content {
		color: #000000;
		background-color: #ebebeb !important;
		border: 1px solid #ebebeb !important;
		width: 95%;
		&.calendar-release {
			background-color: #C1D82F !important;
			border: 1px solid #C1D82F !important;
		}
		&.calendar-webevent {
			background-color: #6EA204 !important;
			border: 1px solid #6EA204 !important;
			color: #FFFFFF !important;
		}
		&.calendar-ipevent {
			background-color: #6E2585 !important;
			border: 1px solid #6E2585 !important;
			color: #FFFFFF !important;
		}
	}
	.fc-request-title, .fc-project-title {
		font-size: 12px;
		font-weight: bold;
	}
	.fc-request-owner {
		font-size: 12px;
	}
	.fc-event {
		background-color: #ebebeb !important;
		border: 1px solid #ebebeb !important;
		&.calendar-release {
			background-color: #C1D82F !important;
			border: 1px solid #C1D82F !important;
			cursor: pointer;
		}
	}
}

#results-data-fullcalendar-filter .k-button.calendar-release {
	background-color: #C1D82F !important;
}

#results-data-calendar .fc-event.calendar-webevent {
	background-color: #6EA204 !important;
	border: 1px solid #6EA204 !important;
	cursor: pointer;
	color: #FFFFFF !important;
}

#results-data-fullcalendar-filter .k-button.calendar-webevent {
	background-color: #6EA204 !important;
	color: #FFFFFF !important;
}

#results-data-calendar .fc-event.calendar-ipevent {
	background-color: #6E2585 !important;
	border: 1px solid #6E2585 !important;
	cursor: pointer;
	color: #FFFFFF !important;
}

#results-data-fullcalendar-filter .k-button.calendar-ipevent {
	background-color: #6E2585 !important;
	color: #FFFFFF !important;
}

#results-data-calendar {
	.fc-day-header {
		padding: 3px 0px 3px 0px !important;
	}
	.fc-more {
		font-size: 12px !important;
		color: #007cb5 !important;
		&:visited {
			font-size: 12px !important;
			color: #007cb5 !important;
		}
	}
	.fc-widget-content .fc-event-container {
		max-height: 600px !important;
		overflow-y: auto !important;
	}
	a.fc-edit-project {
		font-size: 12px;
		font-weight: bold;
		color: #000000 !important;
		text-decoration: none;
		&:hover, &:visited {
			font-size: 12px;
			font-weight: bold;
			color: #000000 !important;
			text-decoration: none;
		}
	}
}

#results-data-calendaritems {
	width: 50%;
	margin: 20px 0px 20px 0px;
}

#results-data-calendaritems-manage {
	margin: 20px 0px 20px 0px;
}

.results-data-chart-wrapper {
	display: inline-block;
	margin-right: 100px;
	width: 600px;
	height: 500px;
	.k-chart {
		width: 600px;
		height: 500px;
	}
}

.custom-date-required {
	display: none;
	color: red;
	td {
		color: red;
	}
}

#results-data-fullcalendar-filter {
	margin: 10px 0px 10px 0px;
}

.vert-align-top {
	vertical-align: top;
}

#results-data-fullcalendar-filter label {
	width: 149px;
	text-align: right;
	margin: 0;
	padding: 4px 10px 0 0;
}

/* Kendo fixes */

#GridRequest, #GridProject, #GridRequestEdit, #GridProjectEdit, #TopPager, #BottomPager, #GridRequestEdit .k-grid-toolbar, #GridProjectEdit .k-grid-toolbar {
	border: none !important;
	background-color: transparent !important;
	background-image: none !important;
}

#fancybox-wrap {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
	div {
		-webkit-box-sizing: content-box !important;
		-moz-box-sizing: content-box !important;
		box-sizing: content-box !important;
	}
}

.k-ct-cell.k-state-selected.k-state-disabled {
	background-color: #1e90ff;
}

#results-data-calendar {
	.arrow {
		background: url("../Content/Img/select-arrow-sprite.png") no-repeat 0 0;
		display: inline-block;
		position: absolute;
	}
	.chrome {
		background-position: 0 -41px;
		top: 13px;
		right: 7px;
		width: 6px;
		height: 6px;
	}
	.safari {
		background-position: -8px -41px;
		top: 17px;
		right: 5px;
		width: 9px;
		height: 5px;
	}
	.firefox {
		background-position: 0 0;
		top: 1px;
		right: 1px;
		width: 17px;
		height: 32px;
	}
	.ie9 {
		background-position: 0 -49px;
		top: 9px;
		right: 6px;
		width: 17px;
		height: 20px;
	}
	.ie11 {
		background-position: 0 -71px;
		top: 8px;
		right: 6px;
		width: 19px;
		height: 20px;
	}
}

/*.results-data span.k-link {
	font-weight: bold;
}*/

.results-data {
	width: 100%;
	height: auto;
	margin: 0 auto 50px;
	font-size: 12px;
	color: #333;
	z-index: 0;
	position: relative;
	thead {
		background: transparent;
	}
	th, td {
		vertical-align: middle;
	}
	th {
		a {
			color: #444 !important;
			font-weight: bold !important;
			font-size: 13px !important;
			text-decoration: none;
			&:hover, &:visited {
				color: #444 !important;
				font-weight: bold !important;
				font-size: 13px !important;
				text-decoration: none;
			}
		}
	}
	.new {
		display: inline-block;
		padding: 2px 5px;
		font-size: 10px;
		color: #fff;
		background-color: #ee6411;
		margin-left: 4px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		vertical-align: top;
	}
	.future-sprint {
		color: #ce1126;
	}

	th.summary-th,
	th.summary-th a {
		color: #00447c !important;
		font-weight: bold !important;
		font-size: 13px;
	}

	/* warning labels */
	td span.icon {
		display: inline-block;
		padding: 0 4px !important;
		margin-left: 5px;
		color: #fff;
		font-size: 10px;
		border-radius: 3px;
	}
	span.urgent {
		background-color: #cc4321;
	}
	span.new {
		background-color: #6da209;
	}
	span.legacy {
		background-color: #444;
	}
	span.past-due {
		background: url(/sq/Static/Content/Img/icon-warning-red.png) no-repeat center center;
		height: 16px;
		width: 16px;
		vertical-align: middle;
		margin-left: 0;
	}
	span.outside-sprint {
		background: url(/sq/Static/Content/Img/icon-warning.png) no-repeat center center;
		height: 16px;
		width: 16px;
		vertical-align: middle;
		margin-left: 0;
	}
	span.past-due-outside-sprint {
		background: url(/sq/Static/Content/Img/icon-warning-red-yellow.png) no-repeat center center;
		height: 16px;
		width: 16px;
		vertical-align: middle;
		margin-left: 0;
	}
	span.checkmark {
		background: url(/sq/Static/Content/Img/checkmark.gif) no-repeat center center;
		height: 16px;
		width: 16px;
		vertical-align: middle;
		margin-left: 0;
	}
	.owner-col {
		span {
			display: table-cell;
		}
		.color-id {
			width: 5px;
			/*height: 24px;*/
		}
		.owner-name {
			padding-left: 5px;
			max-width: 100px;
		}
	}

	td a, td a:visited, td a:link {
		color: #74c1dd;
		&.btn-primary{
			color: #fff;
		}
	}
	.k-grid td {
		border-left: 1px solid #ddd;
	}
	.k-grid td:first-child {
		border-left: none;
	}

	.owner-col {
		.color-id {
			width: 5px;
			height: 24px;
		}
	}

	span.k-link {
		font-weight: bold;
	}
	&.narrow .k-header .k-link {
		font-weight: bold;
	}

	.table-group-headings {
		th {
			background-color: #f5f5f5;
			color: #000;
			font-size: 14px;
			&:last-child {
				color: #00447c;
			}
		}
	}
}