.form-area {
  width: 905px;
  float: left;
  box-sizing: border-box;

  h2 {
    border-bottom: 1px solid #aaa;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
  }

  form {
    label {
      font-weight: normal;
    }
    .required-asterisk {
      padding: 0;
      width: 5px;
    }
  }
}

.side-sections {
  width: 500px;
  margin-left: 76px;
  box-sizing: border-box;
}

.side-sections, .form-area {
  margin-top: 38px;
}

.dynamic-fields .k-header {
  border: 1px solid #c5c5c5;
}