.summary {
	border-radius: 3px;
	border: 1px solid #737373;
	background-color: #f9f9f9;
	overflow: hidden;
	> div {
		&.row {
			margin-bottom: 10px;
		}
		h3 {
			margin: 0;
		}
		h4 {
			font-size: 16px;
			font-weight: bold;
			margin: 0;
		}
		#due-date {
			> span:nth-child(2) {
				font-weight: bold;
				font-size: 16px;
			}
		}
		.badge {
			display: inline-block;
			padding: 3px;
			color: #fff;
			border-radius: 3px;
			font-size: 14px;
			line-height: 14px;
			&.urgent {
				background-color: #D74324;
			}
		}
		/*#planned-date {
			margin-left: 13px;
			margin-right: 77px;
		}*/
	}
}

/*panel*/
.panel-group-collapsible {
	border-bottom: none;
	> .panel {
		border-top: none;
		.panel-heading {
			padding: 10px 0;
			.panel-title > a {
				font-size: 18px;
				font-weight: bold;
				&.collapsed:before {
					content: "\e250";
				}
				&:before {
					content: "\e252";
				}
			}
		}
		.table-responsive {
			margin-bottom: 0;
			overflow: hidden;
			.panel-body {
				padding: 0;
			}
		}
	}
}

/*comments*/
#comment-filters {
	.ms-parent {
		width: 100% !important;
	}
	.ms-choice > div {
		top: 5px;
	}
}

#groups {
	.task-group {
		float: right;
		margin-bottom: 30px;
		width: 100%;
		clear: both;
		.btn {
			border: 1px solid #007db8;
			z-index: 2;
			font-size: 16px;
			font-weight: bold;
			position: relative;
			-webkit-box-shadow: 2px -4px 4px 0 rgba(0, 0, 0, 0.26);
			-moz-box-shadow: 2px -4px 4px 0 rgba(0, 0, 0, 0.26);
			box-shadow: 2px -4px 4px 0 rgba(0, 0, 0, 0.26);
			&:focus, &:hover {
				background-color: #007db8;
			}
			&.collapsed {
				.glyphicon:before {
					content: '\e250';
				}
			}
			i.glyphicon {
				&:before {
					content: '\e252';
				}
				margin-right: 5px;
			}
		}
		.border-shadow {
			border-top: 3px solid #007db8;
			-webkit-box-shadow: 2px -4px 4px 0 rgba(0, 0, 0, 0.26);
			-moz-box-shadow: 2px -4px 4px 0 rgba(0, 0, 0, 0.26);
			box-shadow: 2px -4px 4px 0 rgba(0, 0, 0, 0.26);
			z-index: 1;
			position: relative;
			width: 100%;
		}
		> div {
			clear: both;
			float: left;
			width: 100%;
			.comment-box {
				border-right: 1px solid #a9a9a9;
				border-left: 1px solid #a9a9a9;
				border-bottom: 1px solid #a9a9a9;
				-webkit-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.26);
				-moz-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.26);
				box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.26);
				float: left;
				clear: both;
				width: 100%;
				> div {
					background-color: #eee;
					float: left;
					padding: 15px 0;
					border-top: 1px solid #a9a9a9;
					width: 100%;
					&:first-child {
						border-top: none;
					}
					div:last-child {
						> div {
							.popover-content {
								p {
									margin-bottom: 0;
								}
								a.icon:hover {
									text-decoration: none;

								}
							}
						}
						.status-label {
							float: right;
							padding: 5px;
							color: #fff;
							font-size: 12px;
							&.green {
								background-color: #6ea204;
							}
						}
						.icon-small-chat {
							font-size: 19px;
							margin-left: 5px;
							vertical-align: middle;
						}
						.notify {
							i {
								font-size: 14px;
							}
							a:hover {
								text-decoration: none;
								span span {
									text-decoration: underline;
								}
							}
							> div {
								> div {
									margin-right: 10px;
									display: inline-block;
								}
							}
						}
					}
					&.box-alert {
						background-color: #fff;
						border: none;
						padding: 15px;
					}
				}
				.user-info {
					padding: 10px;
					background-color: #e5f2f8;
					border: 1px solid #737373;
					position: absolute;
					left: 0;
					a, p {
						display: block;
						float: left;
						clear: both;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

/*request info*/
#request-info {
	.panel-body {
		padding: 0;
		> div {
			float: left;
			clear: both;
			width: 100%;
			margin-bottom: 10px;
			&.form-group {
				margin-left: 0;
				margin-right: 0;
				div.col-xs-2 {
					margin-bottom: 10px;
					padding: 0 0 0 15px;
				}
			}
			span {
				/*line-height: 34px;*/
				&.k-input {
					line-height: 20px;
				}
			}
			> .col-xs-2 {
				padding-left: 0;
				padding-right: 0;
			}
			label {
				white-space: nowrap;
			}
			.icon-small-checkmark {
				position: absolute;
				right: 28px;
				top: 8px;
			}
			.has-icon:hover {
				text-decoration: none;
			}
			.icon-ui-plus {
				font-size: 14px;
				line-height: 16px;
			}
			.icon-small-magnifying-glass {
				position: absolute;
				top: 9px;
				right: 25px;
				color: #666;
			}
		}
		#GridQA {
			thead tr th {
				font-weight: bold;
				font-size: 14px;
			}
			tbody tr {
				td {
					border-bottom: 1px solid #aaa;
				}
				&:nth-child(even) {
					background-color: #fff;
				}
				&:last-child {
					td {
						border-bottom: none;
					}
				}
			}
		}
	}
	.form-group {
		> label, > div {
			margin-bottom: 10px;
		}
	}
}

.lh-29 {
	line-height: 29px;
}

.lh-34 {
	line-height: 34px;
}

.summary, #request-info, #project-detail {
	label {
		font-weight: normal;
		float: right;
	}
}

#request-info .control-label {
	float: left;
}

/*task listing*/
#results-data-list #edit-task-listing {
	th {
		font-size: 14px;
		font-weight: bold;
	}
	tr {
		&:nth-child(even) {
			background-color: #fff;
		}
		&.bg-light-blue {
			background-color: #e5f2f8;
		}
		&.text-light-gray {
			td {
				color: #999;
			}
		}
		td {
			border-bottom: 1px solid #aaa;
			border-left: none;
			/*.task-col {
				width: 250px;
			}
			.owner-col {
				width: 130px;
			}
			.department-col {
				width: 100px;
			}*/
			.icon-small-edit {
				margin-right: 5px;
			}
			/*.status-col {
				line-height: 22px;
				i {
					background: url("/sq/static/images/single-queue-sprite.png") no-repeat 0 0;
					display: inline-block;
					width: 18px;
					height: 20px;
					float: left;
					margin-right: 5px;
					&.started-icon {
						background-position: -722px -37px;
					}
					&.done-icon {
						background-position: -412px -38px;
					}
					&.backlog-icon {
						background-position: -254px -34px;
					}
				}
			}*/
			select {
				padding: 5px 0;
			}
			.owner-name {
				select {
					width: 105px;
				}
			}
			.timeSpent-col {
				input {
					width: 14px;
					text-align: center;
				}
			}
			.btn-default {
				color: #007db8;
			}
			.minute {
				padding: 1px 0;
			}
		}
		&:last-child td {
			border-bottom: none;
			&:last-child {
				width: 73px;
			}
		}
		&.k-grid-edit-row td:last-child {
			width: 121px;
		}
	}
	/*.task-col {
		width: 150px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}*/
}

/* results data list request */
#results-data-list-requests {
	.owner-col {
		.color-id {
			width: 5px;
			heigt: 24px;
		}
	}
}

@media(max-width: 1570px) {
	.task-status {
		select {
			width: 112px; // important, after 1350px container breaks table layout: jl
		}
	}
}

.k-ie11 {
	select, input {
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		border-radius: 1px;
	}
}

/* add task popover */
.table-in-k-windo {
	height: 181px;
	border: 1px solid #ccc;
	overflow-y: auto;

	tr {
		&:first-of-type {
			td {
				border-top: 0;
			}
		}
	}
}

.k-widget.k-window.k-window-titleless {
	padding: 20px;
}

.generic-task {
	margin-top: 20px;

	label {
		width: 120px;
	}
	.form-control {
		margin-top: 10px;
	}
	#taskDepModal,
	#ownerTaskModal {
		width: 200px;
	}
	#taskNameModal {
		width: 433px;
	}

}

#tabs > ul > li.ui-tabs-active a {
	cursor: pointer !important;
}

.task-triggers a {
	display: inline-block;
	vertical-align: middle;
}

.task-search {
	span.k-numeric-wrap.k-state-default {
		margin: 10px 0 0;
		padding: 2px;
	}
	.k-numeric-wrap .k-input {
		height: 2em;
		line-height: 2em
	}
	.has-icon {
		display: inline-block;
	}
	.k-state-default > .k-select {
		border-color: #c5c5c5;
		padding-top: 1px;
	}
}

#TaskOwnerGerericUser {
	width: 192px;
}

/* SEO Keywords */
#seoKeywords {

	.form-group {
		margin-left: 0;
		margin-right: 0;
	}
	textarea {
		height: 140px;
	}

}

