.form-horizontal {
  .form-group {
    .control-text {
      padding-top: 7px;
      display: inline-block;
    }
  }
}

.input-icon-overlay {
  display: block;
  position: relative;
  input {
    padding-right: 30px;
  }
  .glyphicon {
    position: absolute;
    right: 8px;
    top: 10px;
  }
}