/* dropdown */
.k-multiselect.k-header.k-state-hover {
	border-color: #bcb4b0;
}

.k-autocomplete.k-state-focused, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-focused {
	background-color: #bcb4b0;
	background-image: url('textures/highlight.png');
	background-image: none, -webkit-linear-gradient(top, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, .0) 100%);
	background-image: none, -moz-linear-gradient(top, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, .0) 100%);
	background-image: none, -o-linear-gradient(top, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, .0) 100%);
	background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, .0) 100%);
	background-position: 50% 50%;
	border-color: #bcb4b0;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

/*.k-dropdown-wrap.k-state-focused, .k-multiselect.k-header.k-state-focused {
	width: 290px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(0, 124, 185, 0.545098) 0px 0px 7.26410579681397px 0px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(0, 124, 185, 0.545098) 0px 0px 7.26410579681397px 0px;
	border: 1px solid rgb(19, 132, 186) !important;
	border-radius: 1px;
}*/

.k-multiselect.k-header.k-state-focused .k-multiselect-wrap {
	border: none !important;
}

/* colors */
.dell-dark-blue {
	background-color: #00447c !important;
}

.dell-red {
	background-color: #d74324 !important;
}

.dell-orange {
	background-color: #ee6411 !important;
}

.dell-blue {
	background-color: #007db8 !important;
}

.dell-green {
	background-color: #6ea204 !important;
}

.has-icon {
	position: relative;
	a {
		position: absolute;
		display: inline-block;
		box-sizing: border-box;
		padding: 5px 0 5px 5px;
		top: 8px;
		right: 6px;
		color: #444;
		span {
			font-size: 20px;
		}
	}
	img {
		position: absolute;
		top: 9px;
		right: -24px;
	}
	&.double-icon img {
		right: -55px;
	}
}

.required-asterisk {
	font-size: 20px;
	display: inline-block;
	line-height: 20px;
	width: 20px;
	box-sizing: border-box;
	padding: 3px 5px 5px;
	vertical-align: top;
}

.project-form-agile label {
	width: 149px;
	text-align: right;
	margin: 0;
	padding: 0 10px 0 0;
}

/*.form-group > div {
  padding-top: 5px;
  padding-bottom: 5px;
}*/

.dell-light-gry-bg {
	background-color: #f9f9f9;
}

.form-col > div {
	background-color: #f9f9f9;
	padding: 20px;
	margin: 0 10px;
}

.dual-panel {
	height: 548px;
}

.ui-datepicker-trigger {
	margin-left: 5px;
}

.project-form-agile .form-control {
	width: 290px;
}

.has-hidden-field a {
	margin-left: 154px;
	display: inline-block;
	font-weight: bold;
	color: #007db8;
}

.radio-labels {
	display: inline-block;
	margin-left: 25px;
}

/*label.radio-inline {
	text-align: left;
	display: inline;
}*/

.form-col .last-section {
	margin-top: 20px;
}

select#routeToMarket {
	height: 60px;
}

.requests footer a {
	display: inline-block;
	padding: 5px;
	font-weight: bold;
	color: #007db8;
}

span.icon-ui-plus {
	font-size: 14px;
}

.form-footer {
	margin: 20px 40px 60px;
}

/* tiles section styles */
.tiles {
	padding: 0;
	margin: 0 0 0 10px;
}

.tiles > div {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 22%;
	margin: 0 0 0 5px;
}

.tiles .prime {
	width: 28%;
	background-color: #2db200;
	height: 162px;
	padding: 10px;
	margin-left: 0px;
}

.tiles p,
.tiles a,
.tiles a:hover,
.tiles a:visited {
	color: #fff;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.tiles > div > div {
	box-sizing: border-box;
	height: 78px;
	background-color: #4d4d4f;
	padding: 10px;
}

.tiles > div div:first-child {
	margin-bottom: 6px;
}

.tiles .light-grey {
	background-color: #757577;
}

.prime p.data,
p.data {
	font-family: 'museo-sans-for-dell-300', 'Trebuchet MS', Gulim, Tahoma, 'Arial Unicode', sans-serif;
}

.prime p.data {
	font-size: 44px;
	line-height: 74px;
}

p.data {
	font-size: 38px;
	line-height: 38px;
}

.prime .index-title {
	margin-bottom: 15px;
}

.index-title.sm-txt {
	word-spacing: -1px;
}

/* expander styles */
.project-form-agile .panel-title > a {
	font-size: 18px;
	color: #444;
	font-weight: bold;
}

.panel-group .panel-title a:before {
	content: "";
}

.panel-group .panel-title a {;
	background: url("../Content/Img/chevron-down-icon.png") no-repeat 0% 50%;
	padding-left: 20px;
}

.panel-group .panel-title a.collapsed:before {
	content: "";
}

.panel-group .panel-title a.collapsed {
	background: url("../Content/Img/chevron-up-icon.png") no-repeat 0% 50%;
}

.panel-group div:first-child {
	border: none;
}

/* request section styles */
#views-selector .views-select-link {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	color: #007db8;
	word-spacing: -1px;
}

/* Comments section styles */
.comments footer {
	margin-left: 153px;
	margin-top: 5px;
}

.prev-comments {
	margin-top: 40px;
}

.comments label {
	min-width: 50px;
}

.comments thead th {
	background: #e7e7e7;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e7e7e7 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e7e7), color-stop(100%, #f5f5f5));
	background: -webkit-linear-gradient(top, #e7e7e7 0%, #f5f5f5 100%);
	background: -o-linear-gradient(top, #e7e7e7 0%, #f5f5f5 100%);
	background: -ms-linear-gradient(top, #e7e7e7 0%, #f5f5f5 100%);
	background: linear-gradient(to bottom, #e7e7e7 0%, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#f5f5f5', GradientType=0);
	color: #444 !important;
	font-weight: bold;
}

.comments thead th a {
	color: #444 !important;
}

.k-grid td, .k-grid th {
	padding: 5px !important;
}

#user-search-wrapper {
	td {
		padding-bottom: 5px;
		background-color: #FFFFFF !important;
	}
}

.arrow {
	background: url("../Content/Img/select-arrow-sprite.png") no-repeat 0 0;
	display: inline-block;
	position: absolute;
}

.chrome {
	background-position: 0 -41px;
	top: 13px;
	right: 7px;
	width: 6px;
	height: 6px;
}

.safari {
	background-position: -8px -41px;
	top: 17px;
	right: 5px;
	width: 9px;
	height: 5px;
}

.firefox {
	background-position: 0 0;
	top: 1px;
	right: 1px;
	width: 17px;
	height: 32px;
}

.ie9 {
	background-position: 0 -49px;
	top: 9px;
	right: 6px;
	width: 17px;
	height: 20px;
}

.ie11 {
	background-position: 0 -71px;
	top: 8px;
	right: 6px;
	width: 19px;
	height: 20px;
}

#ddDigitalDestinations_listbox, #ddDigitalDestinations-list {
	height: 272px !important;
}

/* followers section styles */
.followers, .files {
	width: 510px;
	margin-left: 10px;
	margin-top: 10px;
}

.followers .results-data-chart-wrapper {
	margin-right: 0;
}

.followers h4, .files h4 {
	display: inline-block;
}

.followers .add-follower, #add-link-form .add-link {
	margin-left: 0px;
	margin-top: 5px;
	display: inline-block;
	font-weight: bold;
	color: #007db8;
}

.followers .followers-wrapper {
}

.followers .k-combobox {
	width: 468px !important;
}

.followers .k-dropdown-wrap.k-state-focused {
	width: 440px !important;
}

.followers .add-follower-row, .followers .followers-table {
	display: none;
	background-color: #f9f9f9;
	padding: 15px;
	margin-right: 10px;
}

.notify-checkboxes {
	display: block;
	margin-bottom: 20px;
}

/* ie9 fix radio button issue */

.k-ie9 .project-form-agile input[type='radio'],
.k-ie9 .project-form-agile input[type='checkbox'] {
	padding: 0;
	border: none;
}

/* Attachments */
#panel-files .add-file {
	margin-left: 0px;
	margin-top: 10px;
	display: inline-block;
	font-weight: bold;
	color: #007db8;
}

#ProjectAttachments .k-sprite {
	background-image: url("../Content/Img/app-icons.png");
}

.treeview-filetype-docx {
	background-position: 0 0;
}

.treeview-filetype-html {
	background-position: 0 -16px;
}

.treeview-filetype-jpg {
	background-position: 0 -32px;
}

.treeview-filetype-png {
	background-position: 0 -32px;
}

.treeview-filetype-gif {
	background-position: 0 -32px;
}

.treeview-filetype-tif {
	background-position: 0 -32px;
}

.treeview-filetype-doc {
	background-position: 0 -48px;
}

.treeview-filetype-docx {
	background-position: 0 -48px;
}

.treeview-filetype-xls {
	background-position: 0 -64px;
}

.treeview-filetype-xlsx {
	background-position: 0 -64px;
}

.treeview-filetype-pdf {
	background-position: 0 -96px;
}

.treeview-filetype-ppt {
	background-position: 0 -112px;
}

.treeview-filetype-pptx {
	background-position: 0 -112px;
}

.files #Attachments {
	background-color: #FFFFFF;
	background: none !important;
}

.prev-files {
	margin-bottom: 10px;
}

.k-button {
	&.k-upload-button {
		font-weight: bold !important;
		color: #007db8 !important;
		background-color: transparent !important;
		font-family: Trebuchet MS, Arial, Helvetica, sans-serif !important;
		font-size: 13px !important;
		padding-left: 0 !important;
		text-align: left;
		border: 0;
	}
}

.file-upload-widget {
	width: 100px !important;
	.k-dropzone {
		em {
			display: none;
		}
	}
}

.k-widget.k-upload.k-upload-empty .k-dropzone {
	display: block !important;
}

.k-widget.k-upload .k-dropzone {
	display: none !important;
	padding: 0px 0px 0px 0px;
}

.k-widget.k-upload.k-header {
	background-color: transparent !important;
}

.add-link-row {
	display: none;
}