
.learnIt, .learnItEdit {

  h2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-bottom: 1px #ccc solid;
  }
  .filter-collector {
    float: left;
    margin-bottom: 20px;
    padding-left: 0;

    li {
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
    li:first-child {
      margin-left: 10px;
    }
    li a {
      color: #3399CC;
      font-weight: bold;
    }
    li a:hover {
      text-decoration: none;
    }
    li span {
      color: #999;
      font-size: 14px;
    }
  }
  .view_products {
    padding: 0px 5px;
    cursor: pointer;
  }
  .buttons button {
    margin-right: 10px;
  }

  .k-treeview .k-in.k-state-hover,
  .k-treeview .k-in.k-state-selected,
  .k-treeview .k-in.k-state-focus {
    background-color: #fff;
    margin: 1px 0 1px .16666em;;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .container-buttons {
    margin-left: 40px;
  }

}

.learnIt {

  h2 {
    width: 200px !important;
    border-bottom: 0;
  }
  tbody {
    tr, tr:nth-child(even) {
      background: #fff;
    }
    th, td {
      font-size: 16px;

      span {
        font-size: 16px;
      }
    }
    .fieldvalueBusinessGroupName {
      font-size: 12px;
    }
  }
  thead {
    th {
      font-weight: bold !important;
    }
  }

}


.custom-treeviewnode a {
  margin-left: 5px;
  text-decoration: underline;
}

.learnItEdit {

  .small-text {
    font-size: 12px;
  }
  label.control-label {
    font-weight: normal;
    padding-top: 0 !important;
    width: 200px;
  }
  .custom-treeviewnode {

    span {
      font-size: 17px;
    }
  }
}

.add-level {
  padding: 20px !important;
  overflow: hidden !important;

  .arrowleft-btn-icon {
    background-image: url('../../Static/Content/Img/blue-carousel-arrow-left.png');
    background-size: 13px 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    margin: 0px;
    height: 15px;
    width: 15px;
    margin-top: 5px;
  }

  .arrowright-btn-icon {
    background-image: url('../../Static/Content/Img/blue-carousel-arrow-right.png');
    background-size: 13px 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    margin: 0px;
    height: 15px;
    width: 15px;
    margin-top: 5px;
  }

  .k-autocomplete .k-input {
    text-indent: .33em;
    margin: 0;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

}

.multy-select {

  label, select {
    margin-left: 5px;
    max-width: 97%; /* Kendo issue with select scrollbar on modal */
    box-sizing: border-box;
  }

  select[multiple] {
    min-height: 160px;
  }

  .btn-default {
    padding: 3px;
  }
}

.results-data {
  table {
    thead {
      tr {
        th:first-child,
        th:last-child {
          border-radius: 0 !important;
        }
      }
    }
  }

}

#results-data-list {
  .results-data {
    margin-bottom: 20px;
  }
  #topPager {
    height: 44px !important;
    padding-top: 0;
  }
  .data-heading {
    margin: 0;
  }
}


