/* "Summary sections" */
.summary-start {
  border-left: 1px solid #444 !important;
}

#TopPager {
  box-sizing: border-box;
  padding-top: 10px;
}

.sq-popover {
  max-width: 800px;

  table {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 15px;
  }

}

