<!DOCTYPE html >
<html ng-app="SingleQueue">
<head lang="en">
	<meta charset="UTF-8">
	<!-- Head partial -->
	<div ng-include="'../common/head_tag.html'"></div>
	<!-- /* end of head partial -->

	<title>Add Request</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" href="../../static/css/custom-ui.css"/>
	<script src="../app.js"></script>
</head>
<body>
<!-- Top navigation -->
<div ng-include="'../common/top-nav.html'"></div>

<!-- Ribbon area -->
<div ng-include="'../common/ribbon-nav.html'"></div>

<!-- Main content area -->
<main ng-include="'partials/_main-container.html'"></main>

</body>
</html>