/*nav start*/
.nav {
  position: relative;
  width: 100%;
  background: none;
  margin-bottom: 4px;
  float: left;
  overflow: visible;
  a {
    color: #666;
    &:hover, &.active {
      color: #3399CC;
      text-decoration: none;
    }
  }
  li {
    &:first-child {
      margin-left: 12px;
    }
    margin-left: 32px;
    padding: 7px;
    &.nav-active {
      background-color: #eee;
      border-radius: 5px;
      padding: 7px;
      height: 16px;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    }
  }
  ul {
    .right {
      float: right;
    }
    .right:hover #question-mark-icon {
      background-position: 0 -18px;
    }
    li {
      .sub-nav-col {
        display: none;
        background: none repeat scroll 0 0 #eee;
        float: left;
        margin: 0 auto;
        padding: 10px 7px;
        position: absolute;
        text-align: left;
        z-index: 1000;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
      }
      ul li {
        display: block;
        margin: 0;
        clear: both;
        padding: 5px 0;
        &:last-child {
          padding-bottom: 0;
        }
        &:first-child {
          margin: 0;
        }
      }
    }
    > li {
      &:hover {
        .sub-nav-col li a {
          display: block;
        }
        .sub-nav-col-wrapper {
          width: 190px;
          height: 0;
          margin-left: -8px;
          position: absolute;
          overflow: hidden;
          min-width: 134px;
          min-height: 273px;
        }
      }
      &:nth-child(5):hover .sub-nav-col-wrapper {
        min-width: 247px;
        min-height: 346px;
      }
    }
  }
}

/*nav end*/

/*ribbon start*/
.rq-top-ribbon {
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 20px;
  > ul > li {
    display: inline;
    float: left;
    padding: 15px 20px 0 20px;
    border-right: 1px solid #ccc;
    &.active-item-bg {
      background-color: #eee;
      border-radius: 3px;
    }
    .wide-blue-button {
      background-color: #007CB8;
      height: 55px;
      border-radius: 3px;
      vertical-align: middle;
      a {
        padding: 0 10px;
        display: block;
        color: #fff;
        float: left;
        span {
          &:first-child {
            font-size: 38px;
            display: block;
            float: left;
            line-height: 8px;
            line-height: 55px;
            font-size: 2.5em;
          }
          &:last-child {
            display: block;
            float: left;
            margin-left: 6px;
            line-height: 55px;
            font-size: 1.2em;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    > ul {
      float: left;
      clear: both;
      position: relative;
      .grey-bg {
        background-color: #eee;
        border-radius: 3px;
      }
      > li {
        display: inline-block;
        float: left;
        margin-right: 20px;
        padding: 0;
        select {
          color: #444;
          border: none;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            outline: 0;
          }
        }
        a {
          padding-top: 2px;
          display: block;
          color: #444;
          &:hover {
            text-decoration: none;
            color: #3399CC;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        .rq-btn-icon {
          margin-right: 10px;
          float: left;
          &#jan-fy-icon {
            float: none;
          }
        }
        &#sprints select {
          width: 88px;
          margin-bottom: 26px;
        }
        /*icons*/
        .active-item-bg {
          select {
            background-color: #eee;
          }
          #my-work-icon, #requester-icon {
            background-position: 4px -2px;
          }
        }
        #my-work-icon, #requester-icon {
          background-position: 4px -40px;
          width: 25px;
        }
        #dp-Team-icon {
          background-position: -66px -38px;
          width: 25px;
        }
        #jan-fy-icon {
          background-position: -163px -38px;
          width: 30%;
          margin: 0 auto;
        }
        #backlog-icon {
          background-position: -253px -5px;
          width: 24px;
        }
        #started-icon {
          background-position: -722px -4px;
          width: 20px;
        }
        #idea-icon {
          background-position: -312px -2px;
          width: 20px;
        }
        #council-icon {
          background-position: -357px -3px;
          width: 20px;
        }
        #done-icon {
          background-position: -410px -2px;
          width: 20px;
        }
        #cancelled-icon {
          background-position: -466px -2px;
          width: 20px;
        }
        #filters-icon {
          background-position: -548px -3px;
          float: left;
          width: 30px;
          height: 33px;
        }
        #excel-icon {
          background-position: -653px 0;
          width: 30px;
        }
        #department-icon {
          background-position: -853px 3px;
          width: 11px;
        }
        #request-type-icon {
          background-position: -257px -80px;
          width: 13px;
        }
        #task-type-icon {
          background-position: -320px -118px;
          width: 17px;
        }
        #portfolio-icon {
          background-position: -166px -85px;
          width: 13px;
        }
        #task-status-icon {
          background-position: -444px -80px;
          width: 13px;
        }
        #owner-icon {
          background-position: -507px -80px;
          width: 16px;
        }
        &:hover, .active-item-bg {
          #my-work-icon, #requester-icon {
            background-position: 4px -2px;
          }
          #dp-Team-icon {
            background-position: -65px 0;
          }
          #jan-fy-icon {
            background-position: -164px -1px;
          }
          #backlog-icon {
            background-position: -254px -40px;
          }
          #started-icon {
            background-position: -722px -39px;
          }
          #idea-icon {
            background-position: -314px -40px;
          }
          #council-icon {
            background-position: -359px -40px;
          }
          #done-icon {
            background-position: -412px -40px;
          }
          #cancelled-icon {
            background-position: -468px -40px;
          }
          #filters-icon {
            background-position: -548px -40px;
          }
          #department-icon {
            background-position: -853px -36px;
          }
          #request-type-icon {
            background-position: -257px -118px;
          }
          #task-type-icon {
            background-position: -320px -80px;
          }
          #portfolio-icon {
            background-position: -166px -121px;
          }
          #task-status-icon {
            background-position: -444px -118px;
          }
          #owner-icon {
            background-position: -507px -118px;
          }
        }
        &#rq-filters-item {
          > div {
            #rq-filters {
              &:hover > span:last-child {
                display: none;
              }
              a:hover, .activate-bg, &.add-bg {
                #filters-icon {
                  background-position: -548px -40px;
                }
              }
              &.add-bg {
                background-color: #eee;
                border-radius: 5px;
                height: 33px;
                width: 24px;
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
                padding: 7px 10px 0 10px;
                margin-left: -10px;
              }
              #more-filters{
                position: absolute;
                right:18px;
              }
            }
            > div {
              padding: 0;
            }
          }
          > span:last-child {
            width: 66%;
            display: block;
            padding-top: 23px;
          }
          #request-type-btn, #campaign-btn, #project-btn {
            background-position: -17px -127px;
            width: 14px;
            height: 13px;
            margin: -26px 4px 0 0;
          }
          #requester-btn, #owner-btn {
            background-position: -35px -127px;
            width: 16px;
            height: 15px;
            margin: -27px 4px 0 0;
          }
          .sub-nav {
            #filter-title > a {
              color: #3399CC;
              text-decoration: none;
            }
            #search {
              background-color: #007CB8;
              color: #fff;
              border: none;
              padding: 7px 0;
              margin-right: 7px;
              width: 107px;
              &:hover {
                background-color: #00447B;
                cursor: pointer;
              }
            }
            #reset {
              background-color: #007CB8;
              color: #fff;
              border: none;
              padding: 7px 0;
              width: 107px;
              color: #007db8;
              background-color: #eeeeee;
              border: 1px solid #cccccc;
              &:hover {
                cursor: pointer;
              }
            }
            #filter-title {
              margin-bottom: 10px;
              display: block;
              float: left;
              width: 100%;
              > {
                span {
                  float: left;
                  font-weight: bold;
                }
                a {
                  float: right;
                  text-decoration: none;
                }
              }
            }
            > div {
              display: block;
              float: left;
            }
            .rq-btn-icon {
              border: none;
              cursor: pointer;
              clear: both;
              float: right;
              position: relative;
              z-index: 99999;
              /*fix for ie9*/
            }
          }
        }
      }
    }
    &#sprints-section span {
      width: 39%;
    }
    &#excel #excel-icon-text {
      float: left;
      margin-top: 6px;
    }
    > span:last-child {
      padding-top: 10px;
      display: block;
      width: 28%;
      margin: 0px auto;
      font-size: 13px;
      color: #737373;
      clear: both;
    }
    &:first-child > span {
      margin-top: 10px;
    }

    &:last-child {
      > span:last-child {
        width: 60%;
        padding-top: 53px;
      }
      border-right: none;
    }
    .sub-nav-wrapper {
      width: 250px;
      height: 0;
      overflow: hidden;
      margin-left: -11px;
      position: absolute;
      top: 30px;
    }
    .sub-nav {
      background-color: #eee;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 15px 10px 10px 10px;
      width: 226px;
      display: none;
      position: relative;
      z-index: 1;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
      select, .rq-ribbon-filter-text {
        display: block;
        box-sizing: content-box;
        margin-bottom: 7px;
        border: 1px solid #ccc;
      }
      select {
        &:last-child {
          margin-bottom: 0;
        }
        width: 224px;
        height: 23px;
        clear: both;
        background-color: #fff;
      }
      .rq-ribbon-filter-text {
        width: 201px;
        height: 21px;
        padding-left: 4px;
        padding-right: 19px;
      }
    }
    &#filters-section {
      > span {
        width: 6%;
      }
      > ul > li {
        min-width: 126px;
        > a > select, > div > div > a > select {
          border: none;
          width: 105px;
        }
      }
    }
    &#views select {
      width: 86px;
    }
  }
}

/*ribbon end*/

.selected-filters {
  float: left;
  li {
    display: inline-block;
    float: left;
    &:first-child {
      margin-left: 20px;
    }
    &:nth-child(2) {
      margin-left: 10px;
    }
    a {
      margin-right: 10px;
      color: #3399cc;
      text-decoration: underline;
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

