/*nav start*/
.nav {
  position: relative;
  width: 100%;
  background: none;
  margin-bottom: 4px;
  float: left;
  overflow: visible;
  a {
    color: #666;
    &:hover, &.active {
      color: #3399CC;
      text-decoration: none;
    }
  }
  li {
    &:first-child {
      margin-left: 12px;
    }
    margin-left: 32px;
    padding: 7px;
  }
  #question-mark-icon {
    background: url('../../assets/images/single-queue-sprite.png') no-repeat 0 -1px;
    width: 10px;
    height: 14px;
    display: inline-block;
    margin-right: 4px;
  }
  ul {
    .right {
      float: right;
    }
    .right:hover #question-mark-icon {
      background-position: 0 -18px;
    }
    li {
      .sub-nav-col {
        display: none;
      }
      ul li {
        display: block;
        margin: 0;
        clear: both;
        padding: 5px 0;
        &:last-child {
          padding-bottom: 0;
        }
        &:first-child {
          margin: 0;
        }
      }
    }
    > li {
      &:hover {
        .sub-nav-col li a {
          display: block;
        }
        .sub-nav-col-wrapper {
          width: 190px;
          height: 0;
          margin-left: -8px;
          position: absolute;
          overflow: hidden;
          min-width: 134px;
          min-height: 273px;
        }
      }
      &:nth-child(4):hover .sub-nav-col-wrapper {
        min-width: 247px;
        min-height: 346px;
      }
    }
  }
}

.sub-nav {
  #filter-title > a {
    color: #3399CC;
    text-decoration: none;
  }
  #search {
    margin-right: 7px;
  }
  #filter-title {
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 100%;
    > {
      span {
        float: left;
        font-weight: bold;
      }
      a {
        float: right;
        text-decoration: none;
      }
    }
  }
  > div {
    display: block;
    float: left;
  }
  .rq-btn-icon {
    cursor: pointer;
    clear: both;
    float: right;
    position: relative;
    z-index: 99999;
    /*fix for ie9*/
  }
}

.nav-active {
  background-color: #eee;
  border-radius: 5px;
  padding: 7px;
  height: 16px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.sub-nav-col {
  background: none repeat scroll 0 0 #eee;
  float: left;
  margin: 0 auto;
  padding: 10px 7px;
  position: absolute;
  text-align: left;
  z-index: 1000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

/*nav end*/

/*ribbob start*/

.rq-top-ribbon {
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 25px;
  > ul > li {
    display: inline;
    float: left;
    padding: 15px 20px 0 20px;
    border-right: 1px solid #ccc;
    height: 82px;
    &#sprints-section span {
      width: 35%;
    }
    > span:last-child {
      padding-top: 10px;
      display: block;
      width: 28%;
      margin: 0px auto;
      font-size: 13px;
      color: #737373;
      clear: both;
    }
    > ul {
      float: left;
      clear: both;
      .grey-bg {
        background-color: #eee;
        border-radius: 3px;
      }
      > li {
        select {
          color: #444;
        }
        a {
          padding-top: 2px;
          display: block;
          color: #444;
          &:hover {
            text-decoration: none;
            color: #3399CC;
          }
        }
        display: inline;
        float: left;
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
        &.icon-inline {
          padding: 0;
          .rq-btn-icon {
            margin-right: 10px;
            float: left;
          }
        }
      }
    }
    &:last-child {
      > span:last-child {
        width: 60%;
      }
      border-right: none;
    }
    .sub-nav-wrapper {
      width: 250px;
      height: 0;
      overflow: hidden;
      margin-left: -11px;
      position: absolute;
      top: 87px;
    }
    .sub-nav {
      background-color: #eee;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 15px 10px 10px 10px;
      width: 226px;
      display: none;
      position: relative;
      z-index: 1;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
      select, .rq-ribbon-filter-text {
        display: block;
        box-sizing: content-box;
        margin-bottom: 7px;
        border: 1px solid #ccc;
      }
      select {
        &:last-child {
          margin-bottom: 0;
        }
        width: 224px;
        height: 23px;
        clear: both;
        background-color: #fff;
      }
      .rq-ribbon-filter-text {
        width: 201px;
        height: 21px;
        padding-left: 4px;
        padding-right: 19px;
      }
    }
    &#filters-section > ul > li {
      min-width: 126px;
      > a > select {
        border: none;
        width: 105px;
      }
    }
    &#views select {
      width: 86px;
    }
  }
}

#add-project {
  padding: 0 12px;
}

#rq-filters-item ul > li {
  padding: 0;
}

#rq-filters {
  padding: 7px 10px;
}

#teams select, #sprints select, #opt-my-work select, #projectdates select {
  border: none;
}

#teams:hover, #sprints:hover, #projectdates:hover, #teams select:hover, #sprints select:hover, #projectdates select:hover {
  cursor: pointer;
}

#opt-my-work {
  &:hover, select:hover {
    cursor: pointer;
  }
}

.active-item-bg {
  background-color: #eee;
  border-radius: 3px;
}

.active-item-color {
  color: #444;
}

.disable-hover a span:last-child {
  text-decoration: none;
  color: #444;
}

#span-projectdate-caption {
  width: 100%;
  text-align: center;
}

#rq-filters {
  width: 37px;
  padding-bottom: 0;
  height: 33px;
}

.add-bg {
  background-color: #eee;
  border-radius: 5px;
  height: 33px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

#rq-filters-item > span:last-child {
  width: 66%;
  display: block;
  padding-top: 23px;
}

#rq-filters {
  &:hover > span:last-child {
    display: none;
  }
  #search {
    background-color: #007CB8;
    color: #fff;
    border: none;
    padding: 7px 0;
    width: 107px;
  }
  #reset {
    background-color: #007CB8;
    color: #fff;
    border: none;
    padding: 7px 0;
    width: 107px;
    color: #007db8;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    &:hover {
      cursor: pointer;
    }
  }
  #search:hover {
    background-color: #00447B;
    cursor: pointer;
  }
}

#rq-ribbon-search-text {
  position: relative;
  z-index: 0;
  padding-right: 21px;
  width: 268px;
}

.wide-blue-button {
  background-color: #007CB8;
  height: 55px;
  border-radius: 3px;
  vertical-align: middle;
  a {
    padding: 0 10px;
    display: block;
    color: #fff;
    float: left;
    span {
      &:first-child {
        font-size: 38px;
        display: block;
        float: left;
        line-height: 8px;
        line-height: 55px;
        font-size: 2.5em;
      }
      &:last-child {
        display: block;
        float: left;
        margin-left: 6px;
        line-height: 55px;
        font-size: 1.2em;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
}

/*icons start*/
.rq-btn-icon {
  background: url('../../assets/images/single-queue-sprite.png') no-repeat 0 0;
  display: block;
  height: 22px;
}

#rq-ribbon-search-item {
  > {
    div {
      padding-top: 20px;
      width: 294px;
    }
    span:last-child {
      padding-top: 8px;
      width: 17%;
    }
  }
}

#rq-ribbon-search-btn {
  background-position: 0 -127px;
  cursor: pointer;
  clear: both;
  position: relative;
  width: 13px;
  height: 13px;
  float: right;
  top: -17px;
  right: 5px;
}

#my-work-icon,#requester-icon {
  background-position: 4px -40px;
  width: 25px;
}

.active-item-bg {
  select {
    background-color: #eee;
  }
  #my-work-icon, #requester-icon {
    background-position: 4px -2px;
  }
}

#opt-my-work:hover #my-work-icon {
  background-position: 4px -2px;
}

#dp-Team-icon {
  background-position: -66px -38px;
  width: 25px;
}

#teams:hover #dp-Team-icon, .active-item-bg #dp-Team-icon {
  background-position: -65px 0;
}

#jan-fy-icon {
  background-position: -163px -38px;
  width: 30%;
  margin: 0 auto;
}

#proj-fy-icon {
  background-position: -780px -38px;
  width: 30%;
}

#sprints:hover #jan-fy-icon, .active-item-bg #jan-fy-icon {
  background-position: -164px -1px;
}

#projectdates:hover #proj-fy-icon, .active-item-bg #proj-fy-icon {
  background-position: -780px 0px;
}

#backlog-icon {
  background-position: -253px -5px;
  width: 24px;
}

.active-item-bg #backlog-icon, #backlog:hover #backlog-icon {
  background-position: -254px -40px;
}

#started-icon {
  background-position: -722px -4px;
  width: 20px;
}

.active-item-bg #started-icon, #started:hover #started-icon {
  background-position: -722px -39px;
}

#idea-icon {
  background-position: -312px -2px;
  width: 20px;
}

.active-item-bg #idea-icon, #idea:hover #idea-icon {
  background-position: -314px -40px;
}

#council-icon {
  background-position: -357px -3px;
  width: 20px;
}

.active-item-bg #council-icon, #council:hover #council-icon {
  background-position: -359px -40px;
}

#done-icon {
  background-position: -410px -2px;
  width: 20px;
}

.active-item-bg #done-icon, #done:hover #done-icon {
  background-position: -412px -40px;
}

#cancelled-icon {
  background-position: -466px -2px;
  width: 20px;
}

.active-item-bg #cancelled-icon, #cancelled:hover #cancelled-icon {
  background-position: -468px -40px;
}

#filters-icon {
  background-position: -552px -3px;
  width: 47%;
  margin: 2px auto 0 auto;
}

.active-item-bg #filters-icon, .activate-bg #filters-icon, #rq-filters a:hover #filters-icon, .add-bg #filters-icon {
  background-position: -552px -40px;
}

#excel-icon {
  background-position: -653px 0;
  width: 94%;
}

#request-type-btn, #campaign-btn, #project-btn {
  background-position: -17px -127px;
  width: 14px;
  height: 13px;
  margin: -26px 4px 0 0;
}

#requester-btn, #owner-btn {
  background-position: -35px -127px;
  width: 16px;
  height: 15px;
  margin: -27px 4px 0 0;
}

#department-icon {
  background-position: -853px 3px;
  width: 11px;
  height: 15px;
}

#department-icon:hover, .active-item-bg #department-icon {
  background-position: -853px -39px;
}

#request-type-icon {
  background-position: -257px -80px;
  width: 13px;
  height: 15px;
}

#request-type-icon:hover, .active-item-bg #request-type-icon {
  background-position: -257px -118px;
}

#task-type-icon {
  background-position: -320px -118px;
  width: 17px;
  height: 15px;
}

#task-type-icon:hover {
  background-position: -320px -80px;
}

.active-item-bg #task-type-icon {
  background-position: -385px -80px;
}

#portfolio-icon {
  background-position: -166px -85px;
  width: 13px;
  height: 12px;
}

#portfolio-icon:hover, .active-item-bg #portfolio-icon {
  background-position: -166px -121px;
}

#task-status-icon {
  background-position: -444px -80px;
  width: 13px;
  height: 15px;
}

#task-status-icon:hover, .active-item-bg #task-status-icon {
  background-position: -444px -118px;
}

.mb-20 {
  margin-bottom: 20px;
}

