<div class="row">
	<div class="modal-top-area">
		<a role="button" href="javascript:void(0)" style="float:right" class="cancel-window"><span role="presentation"
																																															 class="k-icon k-i-close">Close</span></a>
	</div>
	<div class="col-xs-2 modal-nav">
		<h3>Request Type</h3>
		<ul role="tablist" id="myTabs">
			<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span
				class="icon sprite-docs"></span>Content</a></li>
			<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><span
				class="icon sprite-ecommerce"></span>eCommerce</a></li>
			<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><span
				class="icon sprite-operations"></span>Operations</a></li>
			<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span
				class="icon sprite-reporting"></span>Reporting</a></li>
			<li role="presentation"><a href="#support" aria-controls="support" role="tab" data-toggle="tab"><span
				class="icon sprite-support"></span>Support</a></li>
		</ul>
	</div>
	<div class="col-xs-9">
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="home">
				<div class="row">
					<div class="col-xs-6">
						<h4>Marketing Content</h4>
						<div class="row">
							<div class="col-xs-5">
								<ul>
									<li class="simple-list"><a href="javascript:void(0)">Amplification</a></li>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#blog-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Blog</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Blog</span>
										</a>
										<ul id="blog-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">some link here One</a></li>
											<li><a href="javascript:void(0)">some link here two</a></li>
											<li><a href="javascript:void(0)">some link here thress</a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#Community-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Community</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Community</span>
										</a>
										<ul id="Community-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">some link here One</a></li>
											<li><a href="javascript:void(0)">some link here two</a></li>
											<li><a href="javascript:void(0)">some link here thress</a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#document-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Document</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Document</span>
										</a>
										<ul id="document-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">Abstract</a></li>
											<li><a href="javascript:void(0)">Bio</a></li>
											<li><a href="javascript:void(0)">Brochure</a></li>
											<li><a href="javascript:void(0)">Case Study</a></li>
											<li><a href="javascript:void(0)">Case Study Video</a></li>
											<li><a href="javascript:void(0)">Datasheet</a></li>
											<li><a href="javascript:void(0)">Ebook</a></li>
											<li><a href="javascript:void(0)">Infographic</a></li>
											<li><a href="javascript:void(0)">Technical Brief</a></li>
											<li><a href="javascript:void(0)">Translatios</a></li>
											<li><a href="javascript:void(0)">White Paper</a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#email-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Email</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Email</span>
										</a>
										<ul id="email-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">some link here One</a></li>
											<li><a href="javascript:void(0)">some link here two</a></li>
											<li><a href="javascript:void(0)">some link here thress</a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#event-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Event</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Event</span>
										</a>
										<ul id="event-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">some link here One</a></li>
											<li><a href="javascript:void(0)">some link here two</a></li>
											<li><a href="javascript:void(0)">some link here thress</a></li>
										</ul>
									</li>
									<li class="simple-list"><a href="javascript:void(0)">Home Page Banner</a></li>
								</ul>
							</div>
							<div class="col-xs-5">
								<ul>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#media-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Media</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Media</span>
										</a>
										<ul id="media-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">some link here One</a></li>
											<li><a href="javascript:void(0)">some link here two</a></li>
											<li><a href="javascript:void(0)">some link here thress</a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#messaging-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Messaging</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Messaging</span>
										</a>
										<ul id="messaging-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">some link here One</a></li>
											<li><a href="javascript:void(0)">some link here two</a></li>
											<li><a href="javascript:void(0)">some link here thress</a></li>
										</ul>
									</li>
									<li class="simple-list"><a href="javascript:void(0)">Paid Organic</a></li>
									<li class="simple-list"><a href="javascript:void(0)">PowerPoint Graphics</a></li>
									<li class="simple-list"><a href="javascript:void(0)">PPC / Paid Search</a></li>
									<li class="simple-list"><a href="javascript:void(0)">Video</a></li>
									<li>
										<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#web-list"
											 aria-expanded="false">
											<span class="show-collapsed"><span aria-hidden="true"
																												 class="glyphicon glyphicon-chevron-right"></span>Web</span>
											<span class="hide-expanded"><span aria-hidden="true"
																												class="glyphicon glyphicon-chevron-down"></span>Web</span>
										</a>
										<ul id="web-list" class="collapse" aria-expanded="false">
											<li><a href="javascript:void(0)">some link here One</a></li>
											<li><a href="javascript:void(0)">some link here two</a></li>
											<li><a href="javascript:void(0)">some link here thress</a></li>
										</ul>
									</li>
								</ul>
							</div>

						</div>
					</div>
					<div class="col-xs-5">
						<h4>Channel Content</h4>
						<div class="row">
							<div class="col-xs-5">
								<ul>
									<li><a href="javascript:void(0)">Attach Handout</a></li>
									<li><a href="javascript:void(0)">Spiff Handout</a></li>
									<li><a href="javascript:void(0)">Brochure</a></li>
									<li><a href="javascript:void(0)">DataSheet</a></li>
									<li><a href="javascript:void(0)">Incentive</a></li>
									<li><a href="javascript:void(0)">Sales Aid</a></li>
								</ul>
							</div>
							<div class="col-xs-5">
								<ul>
									<li><a href="javascript:void(0)">Bio</a></li>
									<li><a href="javascript:void(0)">Internal Wins</a></li>
									<li><a href="javascript:void(0)">Sales Aid</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="profile">content profile</div>
			<div role="tabpanel" class="tab-pane fade" id="messages">content Messages</div>
			<div role="tabpanel" class="tab-pane fade" id="settings">content Settings</div>
			<div role="tabpanel" class="tab-pane fade" id="support">content Support</div>
		</div>
	</div>
</div>