<div id="results-data-list" class="results-data request-listing">
	<div id="GridRequest"></div>
</div>
<div class="data-footer">
	<div id="BottomPager" class="paging pagination-datatables pagination pagination-centered"></div>
</div>

<!-- popover HTML -->
<div id="modalWrapper">
	<div id="modalTable">

	</div>
	<span id="undo" style="display:none" class="k-button hide-on-narrow">Click here to open the window.</span>
</div>
<!-- End of Modal -->


<script>
	$(function () {
		var data = [
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			},
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			},
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			},
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			},
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			},
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			},
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			},
			{
				"id": "27139",
				"title": "Active Administrator for DNS Management",
				"type": "Tech Brief",
				"project": "Inbound Campaign Active Administrator",
				"agileTeam": "Data protection",
				"status": "Started (25%) Done",
				"requestStartDate": "06/01/2015",
				"requestEndDate": "06/018/2015",
				"requester": "Carol Buckley",
				"portfolio": "Data Protection",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 4",
				"active": "1",
				"complete": "1",
				"startDate": "06/01/2015(A)",
				"endDate": "06/10/2015 (P)"
			},
			{
				"id": "47554",
				"title": "TZ 215 Product Page",
				"type": "Blog Post Series",
				"project": "TZ Product Lunch",
				"agileTeam": "Endpoints",
				"status": "Idea",
				"requestStartDate": "",
				"requestEndDate": "",
				"requester": "Anita Price",
				"portfolio": "Data Endpoints",
				"sprint": "Dec FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "0",
				"complete": "0",
				"startDate": "",
				"endDate": ""
			},
			{
				"id": "MRCM-47411",
				"title": "TX Series White Papers",
				"type": "White Paper",
				"project": "TZ Product Lunch",
				"agileTeam": "Security",
				"status": "Done",
				"requestStartDate": "05/14/2015",
				"requestEndDate": "05/21/2015",
				"requester": "John Doe",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Medium",
				"group": "1 of 4",
				"active": "1",
				"complete": "0",
				"startDate": "05/14/2015",
				"endDate": "05/21/2015"
			},
			{
				"id": "Web-47352",
				"title": "Network Security Solutions Page Update",
				"type": "Webpage - Solution",
				"project": "Case Study Enhancements",
				"agileTeam": "Security",
				"status": "Idea",
				"requestStartDate": "06/14/2015",
				"requestEndDate": "06/21/2015",
				"requester": "Jude Subbiah",
				"portfolio": "Security",
				"sprint": "Jun FY16",
				"priority": "Low",
				"group": "1 of 1",
				"active": "0",
				"complete": "0",
				"startDate": "06/14/2015",
				"endDate": "06/21/2015"
			}
		]

		$('#GridRequest').kendoGrid({
			columns: [{
				title: "ID", field: "id",
				template: "<div class='id-col'>#= id #</div>"
			},
				{
					title: "Title", field: "title",
					template: "<div class='title-col'><a href=''>#= title #</a></div>"
				},
				{
					title: "Type", field: "type",
					template: "<div class='type-col'>#= type #</div>"
				},
				{
					title: "Project", field: "project",
					template: "<div class='project-col'><a href=''>#= project #</a></div>"
				},
				{
					title: "Agile Team", field: "agileTeam",
					template: "<div class='agileTeam-col'>#= agileTeam #</div>"
				},
				{
					title: "Status", field: "status",
					template: "<div class='status-col'>#= status #</div>"
				},
				{
					title: "Start Date", field: "requestStartDate",
					template: "<div class='requestStartDate-col'>#= requestStartDate #</div>"
				},
				{
					title: "End Date", field: "requestEndDate",
					template: "<div class='requestEndDate-col nowrap'>#= requestEndDate #</div>"
				},
				{
					title: "Requester", field: "requester",
					template: "<div class='requester-col'>#= requester #</div>"
				},
				{
					title: "Portfolio", field: "portfolio",
					template: "<div class='portfolio-col'>#= portfolio #</div>"
				},
				{
					title: "Sprint", field: "sprint",
					template: "<div class='sprint-col'>#= sprint #</div>"
				},
				{
					title: "Priority", field: "priority",
					template: "<div class='priority-col'>#= priority #</div>"
				},
				{
					title: "Group", field: "group",
					template: "<div class='group-col'>#= group #</div>"
				},
				{
					title: "Active", field: "active",
					template: "<div class='active-col popoverTasks' data-reqID='#= id #'><a href='javascript:void(0)'>#= active #</a></div>"
				},
				{
					title: "Complete", field: "complete",
					template: "<div class='complete-col popoverTasks' data-reqid='#= id #'><a href='javascript:void(0)'>#= complete #</a></div>"
				},
				{
					title: "Start Date", field: "startDate",
					template: "<div class='startDate-col'>#= startDate #</div>"
				},
				{
					title: "End Date", field: "endDate",
					template: "<div class='endDate-col nowrap'>#= endDate #</div>"
				}],
			dataSource: {
				data: data,
				pageSize: 10,
				page: 1,
				total: 0
			},
			scrollable: false, // for our our layout we need to have this setting!
			sortable: true,
			dataBound: function () {
				singleQueueTables.requestListings.addTableHeadings();

				setTimeout(function () {
					singleQueueTables.requestListings.styles();
				}, 1000);
			}
		});


	});
</script>